
<section id="portfolio" class="clearfix">
    <div class="container">
      <div class="topLineFix"></div>  
      <header class="section-header">
        <h2 *ngIf="fpemail" class="section-title">Reset Your Password</h2>
        <h2 *ngIf="!fpemail" class="section-title">Try resetting your password again</h2>
      </header>
  
      <div class="row justify-content-center ">
        <div class="d-flex flex-column justify-content-center col-lg-4 col-md-6">
  
                  
         
                
                    <label class="error alert alert-danger" *ngIf="errorMessage" >{{errorMessage}}</label>
                    <label class="success alert alert-success" *ngIf="successMessage" >{{successMessage}}</label>
                  <div *ngIf="fpemail; else elseBlock">
                      <div *ngIf="!mode" else loginagain >
                          <div class="d-flex  justify-content-center mb-2 mt-2">
                            <label class="align-left" >for {{fpemail}}</label>
                          </div>
                          <div class="d-flex justify-content-center mb-2 mt-2 ">
                            <input type="text" [(ngModel)]="password" placeholder="New Password" class="form-control" >
                          </div>
                          
                          <button class="btn-get-started w-100 mb-5 mt-2" (click)="savePassword()"  >Save</button>

                      </div>
                      <ng-template #loginagain>
                        <div class="d-flex  justify-content-center mb-2 mt-2">
                            <a routerLink="login" > Lets Sign In </a>
                        </div>    
                      </ng-template>
                      
                  </div>  
                  <ng-template #elseBlock>
                    
                    <div class="d-flex  justify-content-center mb-2 mt-2">
                        Your request to reset your password has expired or the link has already been used.
                    </div>
                      
                  </ng-template>
                  
               
              
                
                
              
  
  
       </div>
     </div>
    </div>
  </section>    
  
  
  
  
