
  <section id="rangomancha">
    <div class="topLineFix"></div> 
    <div class="rangomancha relative "  >

      <div class="videoPC" >
          <div class=" d-flex justify-content-center videoPosition" > 
            
            <!-- <iframe src="https://www.youtube.com/watch?v=vGlOo2-aXvg" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>  -->

            <!-- <iframe src="http://d1a5qd9g96kpxe.cloudfront.net/KobiPronam2020.mp4" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>  -->

            <!-- <iframe src="https://www.youtube.com/embed/vGlOo2-aXvg" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe> -->
            <!-- <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/rcBVuKlZ5Nc" frameborder="0" allow="accelerometer; autoplay;   encrypted-media; gyroscope;  picture-in-picture" allowfullscreen allownetworking="internal" ></iframe> -->

            <!-- <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/rcBVuKlZ5Nc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<!-- 
            <iframe class="mt-5" width="100%" height="100%" src="https://www.youtube-nocookie.com/live_chat?v=rcBVuKlZ5Nc&embed_domain=www.dhrubajyoti.com" frameborder="0" allow="accelerometer; autoplay;   encrypted-media; gyroscope;  picture-in-picture" allowfullscreen allownetworking="internal" ></iframe> -->

          <iframe src="https://dhrubajyoti.com/nvba/embed.html" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>  

          </div>
          
      </div >



      
         
        <!-- Curtain Start -->
        <!-- <div class=" d-flex justify-content-between absolute" style="z-index: 1;" > https://youtu.be/cRDOKewTt6k
          <div class="backcurtain" [@popOverState]="stateName" ><img src="assets/images/stocks/backcurtain.png"/></div>
        </div>   -->
        <div class=" d-flex justify-content-between "  >
            <div class="leftcurtain" [@popOverState]="stateName" ><img src="assets/images/stocks/frontcurtain.jpg"/></div>
            <div class="rightcurtain" [@popOverState]="stateName"  ><img src="assets/images/stocks/frontcurtain.jpg"/></div>
            <div class="rope"  (click)="toggle()" [@popOverState]="ropeState"  >
                <img class="rope" src="assets/images/stocks/rope.png"/>
            </div>
        </div>
            
        <!--  Curtain end --> 

        <div class="container">


          <!-- <div class="topLineFix"></div>     -->
        
          <!-- <header class="section-header my-5">
            <h2>NVBA Rango Mancha</h2>
          </header> -->
  
          
  
          
  
  
        </div>
    </div>
  </section>

  <div class="row justify-content-center ">
    <div class=" justify-content-center ">
      <div class="fb-comments" data-href="https://www.novaba.org/rangamancha" data-width="" data-numposts="5"></div>
    </div>
  </div>
  