<section id="reportsCheckin" class="main-pages "  >
    <div class="container">
        <div class="topLineFix"></div>   
      <div class="section-header">
        <h2>Ticket Checkin</h2>
        <h3 style="text-align: center;">
          You can filter Records from header and Export Reorts as per your need.
        </h3>
        
      </div>


      
        <div class=" col-12 mb-3 border-rounded" >
              <ag-grid-angular
                  style=" height: 550px; "
                  class="ag-theme-alpine table-light table-responsive agGridTable"
                  #agGrid
                  id="myGridCheckIn"
                  class="ag-theme-alpine"
                  (gridReady)="onGridReady($event)"
                  [rowData]="rowData"
                  [columnDefs]="columnDefs"
                  [defaultColDef]="defaultColDef"
                  (cellValueChanged)="onCellValueChanged($event)"
                  [animateRows]="true" >
              </ag-grid-angular>
        </div>
      
        <div class=" d-flex justify-content-end mb-5 " >
          <button (click)="onBtnExport()" class=" btn-get-started " > Export CSV File </button>
        </div>


    </div>
</section>    