<!--==========================
      Team Section
    ============================-->
    <section id="saraswatipuja" class="main-pages noScrollXaxis"  >
        <div class="container">
            <div class="topLineFix"></div>   
          <div class="section-header">
            <h1>Saraswati Puja - 2021</h1>
            <h3 style="text-align: center;">Designed to be enjoyed from the comfort of your home in your living/family room.
            </h3>
          </div>
          
          <div class=" col-lg-12 col-md-12 row  justify-content-center  " >
            
            <div class="col-lg-12  col-xs-12 d-flex justify-content-center " >
              <img src="assets/images/stocks/saraswati-2021.jpg"  class="img-fluid dp" alt="Responsive image">
            </div> 
            <div class="col-lg-4  col-xs-12" >
              &nbsp;
            </div>
          </div>
          
          
            <hr />
          <div class=" col-lg-12 col-md-12 row  justify-content-center  ">
              <h2 class="text-center " >NVBA is happy to bring to you Saraswati Puja Virtually on
                20th of February, 2021, Saturday. </h2>
          </div>
          <div class=" col-lg-12 col-md-12 col justify-content-center text-center scedule artistDiv ">
                <p class=" italic "><span>Puja </span> - Live Telecast from 11 am.</p>
                <p class=" italic "><span>Arati/Anjali </span> - 12.30 pm</p>
                <p class=" italic "><span>Virtual Hathe Khori </span> - 1 pm</p>
                <!-- <p style="margin-bottom: 30px;">Link will be shared  through email, FB and Website, closer to the date. <br />
                 </p> -->
                 <p class="mb-5"><a href="https://us02web.zoom.us/j/83864372224?pwd=cm82VGs1ZWt2SUJ2cHQyTm53S00zQT09"  >Link for Saraswati Puja, Anjali and Virtual Hathe Khori </a></p>
                 <div >
                   <h3>HATHE KHORI, 2021</h3>
                 </div>
                 <p class=" italic ">During Virtual Saraswati Puja</p>
                 <p class=" italic ">Date - 2/20/2021, Time- around 1.00pm EST</p>
                 <div>
                  <p class="m-4 italic ">Please be present online, during Virtual Saraswati Puja, since exact time is hard to predict. The priest will do a mass virtual Hathe Khori. Please give your child a new notebook and pen or pencil to write, while the priest does the ritual. Please fill out this form by 18th Feb, 2021.
                  </p>
                </div>
                <div>
                  <a target="_blank" title="Hathe Khori Form" alt="Hathe Khori Form" href="https://docs.google.com/forms/d/e/1FAIpQLSegmGp5wsr1F1TTN7_zMOw8nHNvV7EMg2gx4ALSFelBZVfg2w/viewform"  >Hathe Khori Form</a>
                </div>
                <hr class="mt-5" />
                <div class="mt-5">
                  <h3 class="or"> An evening with Saberi </h3>
                </div>
                <div class=" col-lg-12 col-md-12 text-center justify-content-center">
                  <img src="assets/images/stocks/saberi.png"  class="img-fluid dp artist" alt="Responsive image">
                </div>
                 
                <div>
                  <p class="m-4 italic ">Enjoy the evening with Musical Talent from India- Saberi Bhattacharya. <br />
                    Brought to you virtually on 20th February evening.  <br />
                    Stay tuned for more information.</p>
                </div>

          </div>

          <div class=" col-lg-12 col-md-12 row  justify-content-center artistDiv text-center scedule m-5" >
            
          </div>
          

          <div style=" margin:20px;"></div>
             
            <!-- <hr />
              <div class=" d-flex flex-center justify-content-center ">
                <div class=" m-2 col-md-8  " >
                  <h3 class="" >
                    We are happy to announce that NVBA has sponsored Durga Puja, on October, 25th at Washington Kali Bari on behalf of the whole community.
                  </h3> 
                </div> 
              </div> -->

             <!-- <h2 class="d-flex justify-content-center mt-4" >Feast with food</h2> 
            <div class="d-flex flex-wrap mt-5 mb-5"> 
              <span class="col-md-8 marginCenter" >
                What is a Bengali Festival without food? Food is a quintessential part of puja. NVBA brings some palatable mouth watering delicacies, to make your puja evenings special with friends, family and food.
              </span>                     
            </div>

            <div class="d-flex justify-content-center mb-4 col-md-12">
              <img src="assets/images/stocks/foodmenu.jpg"  class="img-fluid food" alt="Responsive image">  
            </div>


            <div class="d-flex  justify-content-center mb-4 mt-4">
            <div class="flex-column col-lg-6">
                <div style="font-weight: bold;" ><span class="red">*</span><b>Guidelines:</b> </div>
                <ul  style="margin: 0 auto;"> 
                    
                    <li>
                        Food orders must by placed by October 18th 11:59 PM EST.
                    </li>
                    <li>
                        Food will be provided by the restaurant in pre-packaged container. NVBA is not responsible for cooking or packing of the food.
                    </li>
                    <li>
                        Members ordering food should pick up their orders by showing their proof of purchase between 4 – 6 PM on October 24th and October 25th from their nearest pickup location which will be announced soon.
                    </li>
                    
                </ul>
            </div>
        </div> -->
            
            <!-- <hr /> -->

            <!-- <button routerLink="/orderfood" class="btn-get-started w-100 mb-5 mt-2 " > Order Your Food </button> -->
            
            <!-- <p class="d-flex justify-content-center mt-4 mb-5">Our orders are now closed.</p>
             -->
             
            
          <!-- 
             <div *ngIf="this.member.membershipstatus == '' ">
               
             </div>

              Cart to Add 
            <div *ngIf="this.member.membershipstatus == 'Valid' ">
                
            </div> -->
        </div>

        

    </section><!-- #team --> 


        <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header" style="text-align: center;">
          <h2>Our Sponsors</h2>
          <div style="width: 100%; height: 20px;"></div>
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p> -->
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
          
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="http://www.c-mci.com/corporate/" target="_blank">
                  <img src="assets/images/sponsors/CMCI.png" class="img-fluid" alt=""> 
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo" >
                <a href="https://www.synchronisys.com" target="_blank">
                  <img src="assets/images/sponsors/sync.png" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href=" https://www.facebook.com/shailaja.raju.3" target="_blank">
                  <img src="assets/images/sponsors/realtor.png" class="img-fluid" alt="">
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo"   >
                <a href="https://www.datasyncinc.com/" target="_blank" >
                  <img src="assets/images/sponsors/datasync.jpg" class="img-fluid" alt="">
                </a>  
              </div>
            </div>
          
        
          
          
          
<!--           
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div> -->

        </div>

      </div>

    </section>




    <div class="floatDonate">
        <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
    </div>
    
    <div class="floatfb">
      <a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
        <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
      </a>
      <br />
      <a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
        <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
      </a>
    </div>