<!--==========================
      Team Section
    ============================-->
    <section id="saraswatipuja" class="main-pages noScrollXaxis"  >
        <div class="container">
            <div class="topLineFix"></div>   
          <div class="section-header">
            <h1 style="color: #ff8d00;" >Saraswati Puja - 2022</h1>
            <h3 style="text-align: center;">
              <!-- Designed to be enjoyed from the comfort of your home in your living and drive through. -->
            </h3>
          </div>

          <div class=" col-lg-12 col-md-12 col-sm-12 row  justify-content-center  " >
            
            <div class="col-lg-12  col-xs-12 d-flex justify-content-center " >
              <img src="assets/images/banners/saraswati-22/topBanner.jpg "  class="img-fluid dp" alt="Responsive image">
            </div> 
            <div class="col-lg-4  col-xs-12" >
              &nbsp;
            </div>
          </div>

          
          <div class=" col-lg-12 col-md-12 col-sm-12 row  justify-content-center   " >
            <h2 style="color: #ff8d00;" >Please note the points below to get the best drive-through Pujo experience! <br> On February 5th 2022, Saturday.</h2>
            <div class=" col-lg-9 col-md-12 col-sm-12 row  justify-content-center   " >
              <span>When you arrive at the drive through: </span>
              <ol>
                <li>
                  Follow volunteer instructions and lookout for directions to approach the Pujo location. Prasad/Raffle/Instructions will all be provided directly to your car at designated locations during the drive through.
                </li>
                <li>
                  Do not get out of your car at any time during the drive-through. If you want to come out of car, please approach designated parking area, park your car and then come out with masks on at all times.
                </li>
                <li>
                  Do not forget to collect and keep your raffle ticket safe, you don’t want to miss out on those exciting prizes, lots of prizes to be won ( winners will be announced at the end of live pujo telecast. More winners will be announced during the virtual cultural program on 12th)
                </li>
                <li>
                  Tune in to FM 107.1 for the live pujo broadcast.
                </li>
                <li>
                  Try to bring your own equipment for Hate Khari (slate & chalk available in Michael’s and Walmart). We will try to provide if you aren’t able to bring one ( subject to availability)
                </li>
                <li>
                  Please visit our website (novaba.org) for live telecast of the Pujo and programs
                </li>
              </ol>
            </div>
            
          </div>  
         

          <div class=" col-lg-12 col-md-12 col justify-content-center text-center scedule artistDiv ">
            <p>
              Please find all details and links below.
            </p>
            <p class=" italic "><span>Puja preparation</span> -  10:00 AM.</p>
            <p class=" italic "><span>Puja </span> - Live Telecast from 11:00 AM.</p>
            <p class=" italic "><span>Pushpanjali </span> - 12:00 to 1:00 PM</p>
            <p class=" italic "><span>Virtual Hathe Khori </span> - In between</p>
            <p class=" italic "><span>Bisorjan </span> - 3:00 PM</p>
            <p><span>Drive Through (10am to 3pm - Freedom High School - <a target="_blank" href="https://www.google.com/maps/dir/38.8784053,-77.2268372/Freedom+High+School,+25450+Riding+Center+Dr,+Chantilly,+VA+20152/" >25450 Riding Center Dr, Chantilly, VA 20152</a> </span></p>
<br>
            <p class="mb-1"><a target="_blank" class="btn-get-started" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw"  >Link for Saraswati Puja, Anjali and Virtual Hathe Khori </a></p>

            <p class="mb-2">
              <a target="_blank" class="btn-get-started " href="https://www.google.com/maps/dir/38.8784053,-77.2268372/Freedom+High+School,+25450+Riding+Center+Dr,+Chantilly,+VA+20152/" >Get Puja Direction</a>
            </p>



          </div>  


            <!-- <p>
              We have successfully hashed out the Saraswati Pujo details. Thank you all for supporting us circumvent the COVID situation and deliver the best entertainment and engagement possible. Please find all details and links below.
            </p> -->
          

          <div class=" col-lg-12 col-md-12 col-sm-12 row  justify-content-center  " >
            
            <div class="col-lg-12  col-xs-12 d-flex justify-content-center " >
              <img src="assets/images/banners/saraswati-22/banner.jpg "  class="img-fluid dp" alt="Responsive image">
            </div> 
            <div class="col-lg-4  col-xs-12" >
              &nbsp;
            </div>
          </div>


          <!--  You tube Link Button
            
            <div class=" col-lg-12 col-md-12 col-sm-12  d-flex flex-column  " >
            
            <div style="text-align: center;" >
                <a href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" target="_blank" class="btn-get-spc  button  " style="background-color: #ff6602;"  > Live Saraswati Puja, Anjali and Virtual Hathe Khori</a>
            </div>
          </div> -->
          
          
          
          
            <hr />
          <!-- <div class=" col-lg-12 col-md-12 col-sm-12 row  justify-content-center  ">
              <h2 class="text-center " >NVBA is happy to bring to you Saraswati Puja virtually and drive through on
                5th of February, 2022, Saturday. </h2>
          </div> -->
          <div class=" col-lg-12 col-md-12 col justify-content-center text-center scedule artistDiv ">
                <!-- <p class=" italic "><span>Puja </span> - Live Telecast from 11 am.</p>
                <p class=" italic "><span>Arati/Anjali </span> - 12.30 pm</p>
                <p class=" italic "><span>Virtual Hathe Khori </span> - 1 pm</p>
                <p><span>Drive Through (10am to 3pm - Freedom High School - <a target="_blank" href="https://www.google.com/maps/dir/38.8784053,-77.2268372/Freedom+High+School,+25450+Riding+Center+Dr,+Chantilly,+VA+20152/" >25450 Riding Center Dr, Chantilly, VA 20152</a> </span></p> -->
                <!-- <p style="margin-bottom: 30px;">Link will be shared  through email, FB and Website, closer to the date. <br />
                 </p> -->
                 <br />
                 <br />
                 
                 <div >
                   <h3>Saraswati Pujo virtual Cultural event participation and Art competition!!</h3>
                 </div>
                 <div>
                  <p class="m-4 italic ">
                    <!-- Please submit the <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeFEgRa05WSbCZLzZGCwupGhGYrcU7c0M_udoOltD4iunCpLQ/viewform">participation form</a>. 
                    -->
                    Cultural event's participation entries has been closed for this year.
                  </p>
                  <div class=" program " >
                  <b>  Please read through and adhere to the following instructions before submission. </b>
                      <ul class="mt-2" >
                        <li>
                          Children aged 5-18 are welcome to participate
                        </li>
                        <li>
                          Preference will be given to group participation to provide opportunities for maximum participation
                        </li>
                        <li>
                          Each participant can take part in only one program
                        </li>
                        <li>
                          As a humble reminder, families of participating children are required to be registered NVBA members. If you are a new member or failed to renew last year, please go to https://www.novaba.org/user and do the needful. Activated memberships remain valid for one year.
                        </li>
                        <li>
                         <b> The deadline for the final video submission is January 31st, 2022. Please ensure the video is high quality and in landscape mode. </b>
                        </li>
                      </ul>

                      <div class=" col-lg-12 col-md-12 row  justify-content-center  " >
            
                        <div class="col-lg-12  col-xs-12 d-flex justify-content-center " >
                          <img src="assets/images/banners/saraswati-22/bodyBanner.jpg "  class="img-fluid dp" alt="Responsive image">
                        </div> 
                        <div class="col-lg-4  col-xs-12" >
                          &nbsp;
                        </div>
                      </div>

                      <div class="mt-3" >
                       <h2> চলো ছবি আঁকি (Cholo Chhobi Aanki)</h2>
                          <p>
                            Children’s virtual art competition will be held via live Zoom 4-5PM on February 5th. Zoom link will be emailed to participants before February 5th. Results will be announced on February 12th during Saraswati Puja Cultural Program.
                          </p>

                          <p>
                            <b>
                              
                              Please pre-register your child using this <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeLG7QYssG150DNGrQg7KIJ9HhldfLCa9JfWE6ym9XMin8QMg/viewform"> Cholo Chhobi Aanki - form</a> by January 31st.
                            </b>
                          </p>
                          <p>
                            Participants in each age group will be given 45 minutes to complete the artwork virtually through Zoom. Participants will use their personal art supplies and will need to focus the webcam at their workspace during the Zoom session. Please use the art paper of standard size 9” x 12” or 8” x 10” or A4 8.3” x 11.7”.
                          </p>

                          <p>
                            The competition will be held in three age groups:
                            Group 1: 5 - 8 Years
                            Group 2: 9 - 12 Years
                            Group3: 13 - 18 Years
                            Art topics will be given on the spot.
                          </p>
                          <p>
                            Children’s virtual art competition will be held via <b>live Zoom 4-5PM on February 5th.</b>
                          </p>

                          <p>
                            Children can participate in both cultural program and art competition. For further questions and more information email <a href="mailto:cultural.novaba@yahoo.com">cultural.novaba@yahoo.com</a>.
                          </p>

                      </div>
                    </div>
                </div>
                <!-- <div>
                  <a target="_blank" title="Hathe Khori Form" alt="Hathe Khori Form" href="https://docs.google.com/forms/d/e/1FAIpQLSegmGp5wsr1F1TTN7_zMOw8nHNvV7EMg2gx4ALSFelBZVfg2w/viewform"  >Hathe Khori Form</a>
                </div> -->
                <hr class="mt-5 mb-2" />
                
                <div class=" col-lg-12 col-md-12 row  justify-content-center  " >
            
                  <div class="col-lg-12  col-xs-12 d-flex justify-content-center " >
                    <img src="assets/images/banners/saraswati-22/footerBanner.jpg "  class="img-fluid dp" alt="Responsive image">
                  </div> 
                  <div class="col-lg-4  col-xs-12" >
                    &nbsp;
                  </div>
                </div>

                <div class=" col-lg-12 col-md-12 row  justify-content-center  " >
                
                  <h2 style="color: #ff8d00;" > Cultural Program: Saturday Feb 12, 2022 | 7pm – 10pm </h2>

                  <p>
                    The local artists are our own budding talents and needs your support and cheer! We are sure, all of you will join the virtual program and shower them with words of praise through your medium of choice.
                  </p>
                  <p>
                    Local program will be followed by scintillating LIVE music by none other than <a href="https://online.fliphtml5.com/opzuy/scbs/#p=1" target="_blank"  > TRIJOY DEB </a> . A singing sensation and student of Pt. Ajoy Chakrabarti and Suresh Wadekar. Trijoy has performed in more than 1000 global shows till date. He has sung for multiple Bollywood movies and is a regular face in scoring music for television. We are excited to have him perform again on our NVBA platform.
                  </p>
                
                </div>
                
                 

                

          </div>

          <div class=" col-lg-12 col-md-12 row  justify-content-center artistDiv text-center scedule m-5" >
            
          </div>
          

          <div style=" margin:20px;"></div>
             
            <!-- <hr />
              <div class=" d-flex flex-center justify-content-center ">
                <div class=" m-2 col-md-8  " >
                  <h3 class="" >
                    We are happy to announce that NVBA has sponsored Durga Puja, on October, 25th at Washington Kali Bari on behalf of the whole community.
                  </h3> 
                </div> 
              </div> -->

             <!-- <h2 class="d-flex justify-content-center mt-4" >Feast with food</h2> 
            <div class="d-flex flex-wrap mt-5 mb-5"> 
              <span class="col-md-8 marginCenter" >
                What is a Bengali Festival without food? Food is a quintessential part of puja. NVBA brings some palatable mouth watering delicacies, to make your puja evenings special with friends, family and food.
              </span>                     
            </div>

            <div class="d-flex justify-content-center mb-4 col-md-12">
              <img src="assets/images/stocks/foodmenu.jpg"  class="img-fluid food" alt="Responsive image">  
            </div>


            <div class="d-flex  justify-content-center mb-4 mt-4">
            <div class="flex-column col-lg-6">
                <div style="font-weight: bold;" ><span class="red">*</span><b>Guidelines:</b> </div>
                <ul  style="margin: 0 auto;"> 
                    
                    <li>
                        Food orders must by placed by October 18th 11:59 PM EST.
                    </li>
                    <li>
                        Food will be provided by the restaurant in pre-packaged container. NVBA is not responsible for cooking or packing of the food.
                    </li>
                    <li>
                        Members ordering food should pick up their orders by showing their proof of purchase between 4 – 6 PM on October 24th and October 25th from their nearest pickup location which will be announced soon.
                    </li>
                    
                </ul>
            </div>
        </div> -->
            
            <!-- <hr /> -->

            <!-- <button routerLink="/orderfood" class="btn-get-started w-100 mb-5 mt-2 " > Order Your Food </button> -->
            
            <!-- <p class="d-flex justify-content-center mt-4 mb-5">Our orders are now closed.</p>
             -->
             
            
          <!-- 
             <div *ngIf="this.member.membershipstatus == '' ">
               
             </div>

              Cart to Add 
            <div *ngIf="this.member.membershipstatus == 'Valid' ">
                
            </div> -->
        </div>

        

    </section><!-- #team --> 


        <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header" style="text-align: center;">
          <h2>Our Sponsors</h2>
          <div style="width: 100%; height: 20px;"></div>
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p> -->
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
          
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="http://www.c-mci.com/corporate/" target="_blank">
                  <img src="assets/images/sponsors/CMCI.png" class="img-fluid" alt=""> 
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo" >
                <a href="https://www.synchronisys.com" target="_blank">
                  <img src="assets/images/sponsors/sync.png" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href=" https://www.facebook.com/shailaja.raju.3" target="_blank">
                  <img src="assets/images/sponsors/realtor.png" class="img-fluid" alt="">
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo"   >
                <a href="https://www.datasyncinc.com/" target="_blank" >
                  <img src="assets/images/sponsors/datasync.jpg" class="img-fluid" alt="">
                </a>  
              </div>
            </div>
          
        
          
          
          
<!--           
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div> -->

        </div>

      </div>

    </section>




    <div class="floatDonate">
        <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
    </div>
    
    <div class="floatfb">
      <a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
        <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
      </a>
      <br />
      <a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
        <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
      </a>
    </div>