
<section id="portfolio" class="clearfix">
    <div class="container">
      <div class="topLineFix"></div>  
      
      <header class="section-header">
        <h3 class="section-title">Review and Checkout</h3>
      </header>


      <div class="row justify-content-start  m-3 ">
        <a routerLink="/tickets">  Back to Ticket Page</a>
      </div>

      <div class="row justify-content-center ">
        <label class="error alert alert-danger" *ngIf="errorMessage" >{{errorMessage}}</label>
        <label class="success alert alert-success" *ngIf="successMessage" >{{successMessage}}</label>
      </div>
  
        <div class="row justify-content-center ">
                                                    

            <div class="d-flex flex-column col-lg-12 col-md-12">

                    <div class="cart-item d-flex justify-content-between" *ngFor="let item of items; index as i">
                        <span>{{ item.name }}</span>
                        <span>{{ item.value | currency }}</span>
                        <span>{{ item.quantity }}</span>
                        <span>{{ item.total | currency }}</span>
                        <!-- <span><a class="btn" (click)="removeItem(i)" >Delete</a></span> -->
                    </div>
                    <div class="cart-item d-flex justify-content-end" *ngIf="totalValue" >
                      <span>All Total: </span>
                      <span>{{ totalValue | currency }}</span>
                    </div>
                      
            </div>
            <!-- <a (click)="checkoutpay()" class="btn " > Pay out</a>
            <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->

                  <!-- <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;"> -->
                  <div *ngIf="totalValue">
                    <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
                    <div id="paypal-checkout-btn"></div>
                  </div>
                  
                  
        </div>
 
    </div>
</section>    
   
  
  