<!--==========================
      Team Section
    ============================-->
    <section id="kobipronam2020" class="main-pages noScrollXaxis"  >
        <div class="container">
            <div class="topLineFix"></div>   
          <div class="section-header">
            <h2>Kobi Pronam - 2022</h2>

            <img src="assets/images/stocks/kbp-2022.png" style="width: 100%;" class="img-fluid mb-5" alt="Responsive image">

            <h3 style="text-align: center;">
              আগামী 21 মে , শনিবার, রবি কবি আর বিদ্রোহী কবির  প্রতি শ্রদ্ধা নিবেদন করতে মার্সার মিডল স্কুল এ আমরা সমবেত হব। গান, কবিতা, এবং গল্প পাঠ-এর মাধ্যমে আমরা এই সন্ধ্যায় স্মৃতিচারণা করবো প্রবাদপ্রতিম দুই কবির । এই উপলক্ষে আপনাদের সবাইকে সাদর আমন্ত্রণ জানাই এই অনুষ্ঠানে অংশগ্রহণ করার জন্য ।
            </h3>
            <h3>
              We plan to gather on May 21st, to pay homage to Gurudev Rabindranath and Rebel Poet Kazi Nazrul at Mercer Middle School. We will celebrate the occasion with songs, poems and storytelling to remember the legends of Bengali literature and society. We invite you to participate in this program.
            </h3>

            <div style="font-size: 1.1em; justify-content: center; text-align: center; ">
              <div>Date:  <span  style=" font-weight: 800; " >May 21st, 2022</span> </div>
              <div>Venue: <span>Mercer Middle School, 42149 Greenstone Dr, Aldie, VA 20105 </span>  </div>
              <div>Time: <span> 7:00 PM to 10:00 PM.</span></div>
              <br>
              <div>
                Note: This is a free event.</div>
            </div>

          </div>

          <!-- <div class=" col-lg-12 col-md-12  d-flex flex-column  " >
            
            <div style="text-align: center;" >
              <a href="https://www.youtube.com/watch?v=2K0saIol8dM" class="btn-get-spc  button " target="_blank" > Watch Local Performance <br> and <br> Durnibar Saha  <br> 31st July, 2021, Saturday, 8.00 pm. EST </a>
            </div>
            
             <div *ngIf=" this.member.membershipstatus == 'Valid'" style="text-align: center;" >
                <a href="https://www.youtube.com/watch?v=8KHGCz1zxoY" class="btn-get-spc  button " target="_blank" > Watch Local Performance <br> and <br> Durnibar Saha  <br> 31st July, 2021, Saturday, 8.00 pm. EST </a>
            </div>
            <div *ngIf=" this.member.membershipstatus != 'Valid'" style="text-align: center;" >
                <button routerLink="/login" class="btn-get-spc button " > Watch Local Performance <br> and <br> Durnibar Saha  <br> 31st July, 2021, Saturday, 8.00 pm. EST</button>
            </div> 
          </div> -->
          
        
          <hr />
          

            <div class="d-flex flex-wrap mt-5 mb-5 " style="justify-content: center;" >
              <p>
                Kobi Pronam is one of NVBA's signature celebration. Every year it is celebrated to observe the birth anniversaries of great Bengali poets, Rabi Thakur (25 e Baishakh) and Kazi Nazrul (May 24th). The patrons are encouraged to participate in the event with the celebration theme.
              </p>
            </div>

            
            <hr />

            
            <div>
              <div  class="d-flex flex-wrap mt-5 mb-4" style="justify-content: center; font-size: 1.2em;" > 
                Our food Menu
              </div> 
              <div  class="d-flex flex-wrap mt-5 mb-5 " style="justify-content: center;" > 
                <img src="assets/images/stocks/kp-2022-foods.png" style="width: 100%;" class="img-fluid mb-5" alt="Responsive image">

              </div> 
                <app-cart></app-cart>
            </div>
        </div>

        

    </section><!-- #team --> 

    <div class="floatDonate">
        <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
    </div>
    
    <div class="floatfb">
      <a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
        <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
      </a>
      <br />
      <a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
        <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
      </a>
    </div>