<!--==========================
      Team Section
    ============================-->
    <section id="durgapuja2020" class="main-pages noScrollXaxis"  >
        <div class="container">
            <div class="topLineFix"></div>   
          <div class="section-header">
            <h2>Durga Puja 2020</h2>
            <h3 style="text-align: center;">Designed to be enjoyed from the comfort of your home in your living/family room
            </h3>
          </div>
          
          <img src="assets/images/stocks/PDP3-2020.jpg" style="width: 100%;" class="img-fluid" alt="Responsive image">

            <div class="d-flex flex-wrap mt-5 mb-5">
                <p>
                    NVBA Is Proud To Host Durga Puja 2020 For Blissful Three Days Of Virtual Puja Celebration From October 23rd To October 25th, 2020. Our Goal Is To Provide You With The Same Feeling As In Previous Years But In A Virtual Setup.NVBA Always Plans Top-Class Entertainment Featuring The Best International And Local Artists In The Line-Up. NVBA RangaMancha Will Bring You Three Nights Of Cultural Entertainment Through Its Online Streaming Platform. 
                </p>
                <p>    
                    
                </p>
              <!-- <p>
                Kobi Pronam is one of NVBA's signature celebration. Every year it is celebrated to observe the birth anniversaries of great Bengali poets, Rabi Thakur (25 e Baishakh) and Kazi Nazrul (May 24th). The patrons are encouraged to participate in the event with the celebration theme.
              </p>
              <p>
                In the wake of COVID-19 and resultant social isolation, we had to re-visualize our traditional 'Kobi Pronam' event. NVBA launches 'Kobi Pronam' on the evening of July 25th, 2020, at 8:00 PM.
              </p>
              <p>
                You will see the NVBA patrons performing and celebrating the birth anniversary of these two great poets. The prime time will have dances, songs, recitation, and much more. You will enjoy the extravaganza from the comfort of your couch. 
              </p>
              <p>  
                To enable you to enjoy the evening, we have arranged for a touchless dinner from a commercial restaurant. You can place your order below and relax and enjoy the evening.<span class="red">*</span>
              </p> -->
            </div>
            <hr />
            <!-- <h3 class="d-flex justify-content-center mt-4" >Our Food Menu</h3> -->

            
            <!-- <div class="d-flex justify-content-center mb-4 col-md-12">
                <img src="assets/images/stocks/DP-Food2.jpg"  class="img-fluid rounded" alt="Durga Puja 2020"
                style="  display: block;
                max-width:630px;
                max-height:250px;
                width: auto;
                height: auto;"
                >
                
                
            </div> -->


            <div class="d-flex justify-content-center mb-4 col-md-12">
              
              
              <img src="assets/images/stocks/AllFoodMenu.jpeg"  class="img-fluid rounded" alt="Durga Puja 2020"
              style="  display: block;
              max-width:820px;
              max-height:450px;
              width: auto;
              height: auto;"
              >
              
          </div>


            <!-- <div class="d-flex  justify-content-center mb-4 mt-4">
                <div class="flex-column col-lg-6">
                    <div><span class="red">*</span> Please see the below:</div>
                    <ul  style="margin: 0 auto;"> 
                        <li>
                            Food delivery shall be done by volunteers.
                        </li>
                        <li>
                            For safety reasons, the volunteers will wear hand gloves and face masks.
                        </li>
                        <li>
                            Food will be delivered in front.
                        </li>
                        <li>
                            Food packaging will be done at the commercial restaurant by the restaurant folks and handed over to the volunteers for delivery.
                        </li>
                        <li>
                            Food order may be cancelled and your money will be refunded if the number of orders are less than 20.
                        </li>
                        <li>
                            Food order may close if the number of deliver addresses is 50.
                        </li>
                        <li>
                            Due to logistics challenges, food can be delivered only at the below city and zip code combinations:
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div class=" d-flex  justify-content-center  mb-5 " style="width: 100%">
              <div class="d-flex flex-wrap">
                <div class="col-md-4">
                    Aldie - 20105 <br />
                    Ashburn - 20146 <br />
                    Ashburn - 20147 <br />
                    Ashburn - 20148 <br />
                    Ashburn - 20149 
                </div>
                <div class="col-md-4">
                    Centerville - 20120 <br />
                    Centerville - 20121 <br />
                    Centerville - 20151 <br />
                    Chantilly - 20151 <br />
                    Chantilly - 20152 <br />
                    Chantilly - 22033 <br />
                </div>    
                <div class="col-md-4">
                    Fairfax - 22030 <br />
                    Fairfax - 22031 <br />
                    Herndon - 20170 <br />
                    Herndon - 20171 <br />
                </div>    
                <div class="col-md-4">
                    Reston - 20190 <br />
                    Reston - 20191 <br />
                    Sterling - 20164 <br />
                    Sterling - 20165 <br />
                    Sterling - 20166 <br />
                </div>  
              </div>      
            </div> -->

            <div class="d-flex  justify-content-center mb-4 mt-4">
            <div class="flex-column col-lg-6">
                <div><span class="red">*</span> Please see the below:</div>
                <ul  style="margin: 0 auto;"> 
                    <li>
                        Food is available for purchase for NVBA Members Only.
                    </li>
                    <li>
                        Food orders must by placed by October 18th 11:59 PM EST.
                    </li>
                    <li>
                        Food will be provided by the restaurant in Pre-packaged container. NVBA is not responsible for cooking or packing of the food.
                    </li>
                    <li>
                        Members ordering food should pick up their orders by showing their proof of purchase between 4 – 6 PM on October 24th and October 25th from their nearest pickup location which will be announced soon.
                    </li>
                    <!-- <li>
                        Food order may be cancelled and your money will be refunded if the number of orders are less than 20.
                    </li>
                    <li>
                        Food order may close if the number of deliver addresses is 50.
                    </li>
                    <li>
                        Due to logistics challenges, food can be delivered only at the below city and zip code combinations:
                    </li> -->
                </ul>
            </div>
        </div>
            
            <hr />

            <button routerLink="/ordertickets" class="btn-get-started w-100 mb-5 mt-2 " > Order Your Food </button>
            
            <!-- <p class="d-flex justify-content-center mt-4 mb-5">Our orders are now closed.</p>
             -->
             
            
          <!-- 
             <div *ngIf="this.member.membershipstatus == '' ">
               
             </div>

              Cart to Add 
            <div *ngIf="this.member.membershipstatus == 'Valid' ">
                
            </div> -->
        </div>

        

    </section><!-- #team --> 

    <div class="floatDonate">
        <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
    </div>
    
    <div class="floatfb">
      <a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
        <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
      </a>
      <br />
      <a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
        <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
      </a>
    </div>