<!--==========================
      Team Section
    ============================-->
    <section id="durgapuja2020" class="main-pages noScrollXaxis"  >
        <div class="container">
            <div class="topLineFix"></div>   
          <div class="section-header">
            <h1>Durga Puja 2020</h1>
            <h3 style="text-align: center;">Designed to be enjoyed from the comfort of your home in your living/family room.
            </h3>
          </div>
          
          <div class="" style="display: flex; justify-content: center; " >
            <img src="assets/images/stocks/DP-2020.jpg"  class="img-fluid dp" alt="Responsive image">
          </div> 
          

            <div class="d-flex flex-wrap mt-5 mb-5 col-md-8 marginCenter "> 
                 <p>
                    NVBA is proud to host Durga Puja 2020 For Blissful Three Days Of Virtual Puja Celebration From October 23rd To October 25th, 2020. Our Goal Is To Provide You With The Same Feeling As In Previous Years But In A Virtual Setup. NVBA Always Plans Top-Class Entertainment Featuring The Best International And Local Artists In The Line-Up. NVBA RangaMancha Will Bring You Three Nights Of Cultural Entertainment Through Its Online Streaming Platform. 
                </p> 
                <p >    
                  The puja is never the same without the sounds of “dhaak”, ulu dhwani, conches, the smell of incense and bhog. The sight of Maa Durga’s glorious ensemble, dhunuchi naach, sandhya arti, sandhi puja, mingling with friends is integral part of our experience.  This year has been challenging in many ways as most of our lives are disrupted by the global pandemic. In the midst of this ongoing calamity, we bring happy tidings.
                </p>
                <p>
                  Our goal is to provide you with the same feeling as previous years, but in a virtual setup. Maintaining the tradition and continuity we will be performing Durga Puja Online!
                    More details will be shared in the coming days.
                </p>
                <!-- <a routerLink="rangamancha" class=" btn-get-started" >Rangamancha</a> -->
            </div>
            <hr />

            <div class="flex justify-content-center mt-5 mb-5"> 
              <h2 style="text-align: center;">NVBA has planned a Three Days Puja Cultural Extravaganza for you.
              </h2>
              <div class="d-flex align-items-center flex-column bold" *ngIf="this.member.membershipstatus != 'Valid'" >
                 <p style="color: #bf3737; text-indent: 0px;" class="justify-content-center">
                  Active Member <a routerLink="/login" > Sign In </a> to watch the program for free. Non-member <a routerLink="/register"> Sign Up </a> with $35.00 or Buy membership to watch the program.
                </p>
                <div class="m-2 justify-content-center">
                    <div style="font-weight: bold; font-size: 1.2em;color: #838383;" ><span class="red">*</span><b>Membership Benefits:</b> </div>
                        <ul  style="text-align: left;color: #838383;"> 
                            <li>
                                Access to year round member only events like kobi pronam, nobo borsho celebrations, annual picnic etc.
                            </li>
                            <li>
                                Access to early bird discounted tickets.
                            </li>
                            <li>
                                Enjoy several members only programs free of cost.
                            </li>
                            <li>
                                Can participate/perform in cultural programs.
                            </li>
                            <li>
                                Registered members have voting rights at the elections.
                            </li>
                        </ul>
                    </div>
              </div>
              <div class="d-flex flex-column justify-content-center  mt-3 mb-5">
                <table class="col-md-8 marginCenter table">
                  <tbody>
                    <tr>
                      <td width="25%">
                        <div class=" italic bold black " >23rd October, 2020</div>
                      </td>
                      <td>
                        <div>Local Cultural Program and an evening with <b>Aritra</b>.</div>
                        <div>
                          <a href=""  class="btn-get-spc w-100 " > Watch Local Performance and Aritra Live - Friday (Oct. 23th)</a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class=" italic bold" >24th October, 2020</div>
                      </td>
                      <td>
                        <div>Enjoy Virtual Durga Puja, Organized by NVBA. Then watch <b>Anweshaa Live</b> in the evening.</div>
                        
                          <div *ngIf="this.member.membershipstatus == 'Valid' || this.member.nonmemberpogramticket == 'paid' ">
                            <a href="#"  class="btn-get-spc w-100 " > Watch Anweshaa Live - Saturday (Oct. 24th)</a>
                          </div>

                          <div *ngIf="this.member.email">
                            <div *ngIf="this.member.membershipstatus == 'Expire' || this.member.membershipstatus == ''" >
                              <!-- <a routerLink="/ticketprog" class="btn-get-spc w-100 " > Non Member - Buy Anweshaa Live / Jolly Mukherjee/Usha Uthup program ticket
                              </a> -->
                              <app-cartnonmember></app-cartnonmember>
                            </div>
                          </div>

                          <div *ngIf="this.member.email == ''" >
                              <a routerLink="/login" class="btn-get-spc w-100 " > Watch Anweshaa Live </a>
                          </div>
                          
                        
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class=" italic bold" >25th October, 2020</div>
                      </td>
                      <td>
                        <div>Enjoy Virtual Durga Puja and Arati from Washington Kali Bari. In the evening enjoy the timeless hits of <b>Usha Uthup</b> and <b>Jolly Mukherjee</b>.</div>
                        <div *ngIf="this.member.membershipstatus == 'Valid' || this.member.nonmemberpogramticket == 'paid' ">
                          <a href="#" class="btn-get-spc w-100 " > Watch Jolly Mukherjee/Usha Uthup Concert - Sunday (Oct. 25th)</a>
                        </div>
                        <div *ngIf="this.member.email == ''">
                            <a routerLink="/login" class="btn-get-spc w-100 " > Watch Jolly Mukherjee/Usha Uthup Concert </a>
                        </div>
                        <div *ngIf="this.member.email">
                          <div *ngIf="this.member.membershipstatus == 'Expire' || this.member.membershipstatus == ''" >
                            <!-- <a routerLink="/ticketprog" class="btn-get-spc w-100 " > Non Member - Buy Anweshaa Live / Jolly Mukherjee/Usha Uthup program ticket
                            </a> -->
                            <app-cartnonmember></app-cartnonmember>
                          </div>
                        </div>
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- <div class="row m-5">
                  <div class="marginCenter col-md-6 text-center ">
                     More details coming soon.
                  </div>
                </div> -->
                <!-- <div class=" col-md-6 marginCenter" ></div>
                <div class=" col-md-6 marginCenter" ></div> -->
                
                
              </div>
              <div class=" text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nic4RKOCaIo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              
            </div>  
            <hr />
              <div class=" d-flex flex-center justify-content-center ">
                <div class=" m-2 col-md-8  " >
                  <h3 class="" >
                    We are happy to announce that NVBA has sponsored Durga Puja, on October, 25th at Washington Kali Bari on behalf of the whole community.
                  </h3> 
                </div> 
              </div>
            <hr />

             <h2 class="d-flex justify-content-center mt-4" >Feast with food</h2> 
            <div class="d-flex flex-wrap mt-5 mb-5"> 
              <span class="col-md-8 marginCenter" >
                What is a Bengali Festival without food? Food is a quintessential part of puja. NVBA brings some palatable mouth watering delicacies, to make your puja evenings special with friends, family and food.
              </span>                     
            </div>

            <div class="d-flex justify-content-center mb-4 col-md-12">
              <img src="assets/images/stocks/foodmenu.jpg"  class="img-fluid food" alt="Responsive image">  
            </div>


            <div class="d-flex  justify-content-center mb-4 mt-4">
            <div class="flex-column col-lg-6">
                <div style="font-weight: bold;" ><span class="red">*</span><b>Guidelines:</b> </div>
                <ul  style="margin: 0 auto;"> 
                    <!-- <li>
                        Food is available for purchase for NVBA Members only.
                    </li> -->
                    <li>
                        Food orders must by placed by October 18th 11:59 PM EST.
                    </li>
                    <li>
                        Food will be provided by the restaurant in pre-packaged container. NVBA is not responsible for cooking or packing of the food.
                    </li>
                    <li>
                        Members ordering food should pick up their orders by showing their proof of purchase between 4 – 6 PM on October 24th and October 25th from their nearest pickup location which will be announced soon.
                    </li>
                    <!-- <li>
                        Food order may be cancelled and your money will be refunded if the number of orders are less than 20.
                    </li>
                    <li>
                        Food order may close if the number of deliver addresses is 50.
                    </li>
                    <li>
                        Due to logistics challenges, food can be delivered only at the below city and zip code combinations:
                    </li> -->
                </ul>
            </div>
        </div>
            
            <hr />

            <button routerLink="/orderfood" class="btn-get-started w-100 mb-5 mt-2 " > Order Your Food </button>
            
            <!-- <p class="d-flex justify-content-center mt-4 mb-5">Our orders are now closed.</p>
             -->
             
            
          <!-- 
             <div *ngIf="this.member.membershipstatus == '' ">
               
             </div>

              Cart to Add 
            <div *ngIf="this.member.membershipstatus == 'Valid' ">
                
            </div> -->
        </div>

        

    </section><!-- #team --> 

    <div class="floatDonate">
        <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
    </div>
    
    <div class="floatfb">
      <a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
        <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
      </a>
      <br />
      <a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
        <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
      </a>
    </div>