
<section id="portfolio" class="clearfix ">
    <div id="ticket" class="container">
      <div class="topLineFix"></div>  
      
      <header class="section-header">
        <h3 class="section-title">Tickets</h3>
      </header>
  
        <div class="row justify-content-center ">
            <!-- <a class="btn" routerLink="/cart" > Check Out </a> -->
            <div class="d-flex flex-column col-lg-12 col-md-12">

                  <div> 

                    <div class="card-deck">
                      <div class="card ">
                        <div class="card-body text-center">
                          <form #adult="ngForm" (ngSubmit)="onClickSubmitAudult(adult.value)" >
                          <h3>Adult 18+ years</h3>
                          <p class="card-text">$30 / per head</p>
                          <p class="card-text"><input  type="number" min=0 name="adultQuantity" ngModel ></p>
                          <p class="card-text">Food preferances</p>
                          <p class="card-text">
                            <input class="w-75" type="number" min=0 name="adultNonveg" placeholder="Non-Veg Count" ngModel >
                          </p>
                          <p class="card-text">  
                            <input class="w-75" type="number" min=0 name="adultVeg" placeholder="Veg Count" ngModel >
                          </p>
                          <p class="card-text"><input class="btn" type = "submit" value="Add to Cart"  ></p>
                          
                          <p *ngIf="adultTotal" class="card-text">Total: &nbsp;{{adultTotal|currency}}</p>
                        </form>
                        </div>
                      </div>

                      <div class="card ">
                        <div class="card-body text-center">
                          <form #Children="ngForm" (ngSubmit)="onClickSubmitChildren(Children.value)" >
                          <h3>Children 10-18 years</h3>
                          <p class="card-text">$10 / per head</p>
                          <p class="card-text"><input  type="number" min=0 name="childrenQuantity" ngModel ></p>
                          <p class="card-text">Food preferances</p>
                          <p class="card-text">
                            <input class="w-75" type="number" min=0 name="childrenNonveg" placeholder="Non-Veg Count" ngModel >
                          </p>
                          <p class="card-text">  
                            <input class="w-75" type="number" min=0 name="childrenVeg" placeholder="Veg Count" ngModel ></p>
                          <p class="card-text"><input class="btn" type = "submit" value="Add to Cart"  ></p>
                          
                          <p *ngIf="childrenTotal" class="card-text">Total: &nbsp;{{childrenTotal|currency}}</p>
                        </form>
                        </div>
                      </div>


                      <div class="card ">
                        <div class="card-body text-center">
                          <form #Child="ngForm" (ngSubmit)="onClickSubmitChild(Child.value)" >
                          <h3>Child under 10 Free</h3>
                          <p class="card-text">$0 / per head</p>
                          <p class="card-text">
                            <input class="" type="number" min=0 name="childQuantity" ngModel >
                          </p>
                          <!-- <p class="card-text">Food preferances</p> -->
                          <!-- <p>
                            <input class="w-50" type="number" min=0 name="childNonveg" placeholder="Non-Veg Count" ngModel >
                            <input class="w-50" type="number" min=0 name="childVeg" placeholder="Veg Count" ngModel ></p> -->
                          <p class="card-text"><input class="btn" type = "submit" value="Add to Cart"  ></p>
                          
                          <p *ngIf="childTotal" class="card-text">
                            Total: &nbsp;{{childTotal|currency}}
                          </p>
                        </form>
                        </div>
                      </div>

                      <div class="card ">
                        <div class="card-body text-center">
                          <form #Student="ngForm" (ngSubmit)="onClickSubmitStudent(Student.value)" >
                          <h3>Student</h3>
                          <p class="card-text">$30 / per head</p>
                          <p class="card-text">
                            <input class="" type="number" min=0 name="studentQuantity" ngModel >
                          </p>
                          <p class="card-text">Food preferances</p>
                          <p class="card-text">
                            <input class="w-75" type="number" min=0 name="studentNonveg" placeholder="Non-Veg Count" ngModel >
                          </p>
                          <p class="card-text">  
                            <input class="w-75" type="number" min=0 name="studentVeg" placeholder="Veg Count" ngModel ></p>
                          <p class="card-text"><input class="btn" type = "submit" value="Add to Cart"  ></p>
                          
                          <p *ngIf="studentTotal" class="card-text">Total: &nbsp;{{studentTotal|currency}}</p>
                        </form>
                        </div>
                      </div>
                      
                    </div>  


                    <div class="card-deck  justify-content-center">

                      <div class="card col-md-4">
                        <div class="card-body text-center">
                          <form #Visitor="ngForm" (ngSubmit)="onClickSubmitVisior(Visitor.value)" >
                          <h3>Visiting Parents</h3>
                          <p class="card-text">$30 / per head</p>
                          <p class="card-text">
                            <input class="" type="number" min=0 name="visitorQuantity" ngModel >
                          </p>
                          <p class="card-text">Food preferances</p>
                          <p class="card-text">
                            <input class="w-75" type="number" min=0 name="visitorNonveg" placeholder="Non-Veg Count" ngModel >
                          </p>
                          <p class="card-text">  
                            <input class="w-75" type="number" min=0 name="visitorVeg" placeholder="Veg Count" ngModel ></p>
                          <p class="card-text"><input class="btn" type = "submit" value="Add to Cart"  ></p>
                          
                          <p *ngIf="visitorTotal" class="card-text">Total: &nbsp;{{visitorTotal|currency}}</p>
                        </form>
                        </div>
                      </div>

                      <div class="card col-md-4">
                        <div class="card-body text-center">
                          <form #Membership="ngForm" (ngSubmit)="onClickSubmitMembership(Membership.value)" >
                          <h3>Membership</h3>
                          <p class="card-text">$20</p>
                          <input class="" type="number" min=0 name="quantity" ngModel placeholder="1" >
                          <p class="card-text"><input class="btn" type = "submit" value="Add to Cart"  ></p>
                          
                          <p *ngIf="visitorTotal" class="card-text">Total: &nbsp;{{visitorTotal|currency}}</p>
                        </form>
                        </div>
                      </div>

                    </div>
                      
                       
                      
                   
                   
                  </div>
                       

                    
                    <div class="d-flex justify-content-end m-3">
                      <a routerLink="/cart" class="btn ">Review & Checkout </a>
                    </div>
                    

                    
                  
                <!-- </div> -->
                
            </div>
  
        </div>
 
    </div>
</section>    
   
  
  