<div class="m-5">
   
    KK Concert current head count = {{kkHeadCount}} <br /><br />
   
    Non-Veg head count = {{nonHeadCount}} <br />
   
    Veg head count = {{vegHeadCount}} <br />

    Kids head count = {{kidHeadCount}} <br /> 

    Total Head Count = {{nonHeadCount+vegHeadCount+kidHeadCount }} <br /> <br /> 


    All 3 days - Adult Non-Veg Count = {{ adultNon }}  <br />
    All 3 days - Adult Veg Count = {{ adultVeg }}  <br />
    All 3 days - Kids [ 11 to 18 years ] Non-Veg = {{ tentoAdultNon }}  <br />
    All 3 days - Kids [ 11 to 18 years ] Veg = {{ tentoAdultVeg }}  <br />
    All 3 days - kids [ 4 to 10 years ] Count = {{ fourtoTen }}  <br />
    All 3 days - kids [ 0 to 3 years ] Count = {{ zerotoThree }} <br />
    All 3 days - Students and Visiting Parents Non-Veg Count = {{ studentNon }} <br />
    All 3 days - Students and Visiting Parents Veg Count = {{ studentVeg }} <br />

      
     
    

   
</div>
