
<section id="durgapuja2022" class="main-pages noScrollXaxis"  >
    <div class="container">
        <div class="topLineFix"></div>   
      <div class="section-header">
        <h2>Order Tickets for Durga Puja 2022</h2>
        <h3 style="text-align: center;">
            <!-- Please take tickets as per your convinience, with Cultural program with kavita krishnamurthy Live or with out cultural program. <br /> -->
            <span class="red bold">
                 <!-- AS OF NOW, EARLY BIRD WILL CLOSE AFTER FIRST 400 GUESTS HAVE REGISTERED. <br /> -->
            </span>  
        </h3> 
      </div>


      <!-- <div *ngIf="this.member.membershipstatus == 'Valid'; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock> -->


        <div class="d-flex  justify-content-center mb-4 mt-4">
            <div class="flex-column col-lg-6">
                <h3 style="text-align: center;">ARBITRATION AND RELEASE &
                    WAIVER OF LIABILITY AGREEMENT
                    NORTHERN VIRGINIA BENGALI ASSOCIATION EVENTS:.
                </h3>
                
                <ol  style="margin: 10px auto;"> 
                    <!-- <li>
                        Food is available for purchase for NVBA Members only.
                    </li> -->
                    <li>
                        Registrant fully understands that the novel coronavirus SARS- CoV-2 and any resulting disease (together with any mutation, adaptation, or variation thereof, "COVID-19”) is an extremely contagious disease that can lead to severe illness and death, and there is an inherent danger and risk of exposure to COVID-19 in any place where people are present.
                    </li>
                    <li>
                        Registrant fully acknowledges that all family members and relatives ages 12 and above are fully vaccinated and will abide by CDC and VDH guidelines during the entire event hosted by Northern Virginia Bengali Association from September 30th. Till October 2nd. 2022.
                    </li>
                    <li>
                        Registrant and their family members and relatives accompanying the registrant agrees to wear a mask at all times inside the school building with the exception of eating and drinking. Failure to do so may result in warning or eviction from the school property.
                    </li>
                    <li>
                        Should the Durga Puja event get cancelled NVBA will refund the registration cost minus the PayPal processing fees via check to the registrant’s mailing address.
                    </li>
                    <li style="list-style: none; margin: 20px 0 20px 0;">
                        <strong>BY COMPLETING THE REGISTRATION FOR THIS EVENT,</strong>  I HAVE CAREFULLY READ AND FULLY UNDERSTAND ALL PROVISIONS OF THIS RELEASE. AND FREELY AND KNOWINGLY ASSUME THE RISK AND WAIVE MY RIGHTS CONCERNING LIABILITY AS DESCRIBED ABOVE AND AGREE NOT TO HOLD NORTHERN VIRGINIA BENGALI ASSOCIATION (NVBA) AND ITS EXECUTIVE COMMITTEE MEMBERS LIABLE FOR ANY ILLNESS OR INJURY DURING OR AFTER THE EVENT:
                    </li>
                    <li style="list-style: none; margin: 20px 0 20px 0;">
                        <span>
                            <label for="agree" style="margin-left: 10px; font-size: 1.1em;" >
                                <input type="checkbox" id="agree" #agree [checked]="iAgree"  (click)="checkCheckBoxvalue(agree)" > I agree
                            </label>
                        </span>   
                        <span style="float: right;">
                            <label for="disagree" style="margin-left: 10px; font-size: 1.1em;" >
                                <input type="checkbox" #disagree id="disagree" name="disagree" value="disagree" (click)="redirectToHomepage()" > 
                                I disagree
                            </label>
                        </span>

                                
                            
                        <br>
                    </li>
                     
                </ol>
                
            </div>
        </div>

        <div *ngIf="iAgree" [@inOutAnimation] >
            <!-- <app-earlybird></app-earlybird> -->
            <!-- <app-regulargate></app-regulargate> -->
            <!-- <app-memberonlykktickets></app-memberonlykktickets> -->
            <app-durgapujatickets2022></app-durgapujatickets2022>

        </div>

        
        <!-- <button class="btn-get-started" *ngIf="isBtn" (click) = toggleDisplay()>Ticket include Cultural Program</button>  
        <button class="btn-get-started" *ngIf="isBtn" (click) = toggleDisplay()>Ticket Without Cultural Program</button> 
        <div *ngIf="!isBtn"  >
            <button class="btn-get-started" (click) = toggleDisplay()>{{btnMsg}}</button>  
            <div *ngIf="!isShow" >
                <app-earlybird></app-earlybird>
             </div>
             <div *ngIf="isShow">
                <app-earlybirdwithoutcultural></app-earlybirdwithoutcultural>
             </div>
        </div>      -->
         
          
          
  
        
    </div>    
</section>