<div id="earlyBirdWithoutcul" class="table-responsive">
    <accordion [isAnimated]="true">
        <accordion-group heading="All 3 Days ( October 8th to 10th, 2021 )"  >
            <table class="table table-bordered table-hover" >
                <thead>
                  <tr>
                    <th scope="col"  >Items</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Quantity</th>
                    <!-- <th scope="col">Add</th> -->
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of dataObject; index as i" >
                  
                  <tr *ngIf="i < 6">
                      <th>{{item.description}}</th>
                      <td>$ {{item.price}}</td>
                      <td><input type="number" [(ngModel)]="item.quantity" style="width:50px" min="0" max="10" ></td>
                      <!-- <td> <button class="btn btn-warning" (click)="addToCartobj(item)" >Add to Cart</button></td> -->
                      <td  >$ {{item.price * item.quantity}}</td>
                  </tr>
                </tbody>
            </table>
        </accordion-group>
        <accordion-group heading="Kavita Krishnamurthy Show (Sunday)">
            <table class="table table-bordered table-hover ">
                    <thead>
                    <tr>
                        <th scope="col" >Items</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Quantity</th>
                        <!-- <th scope="col">Add</th> -->
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of dataObject; index as i" >
                    
                        <tr *ngIf="i > 5 && i < 8" >
                        <th>{{item.description}}</th>
                        <td>$ {{item.price}}</td>
                        <td><input type="number" [(ngModel)]="item.quantity" style="width:50px" min="0" max="10" ></td>
                        <!-- <td> <button class="btn btn-warning" (click)="addToCartobj(item)" >Add to Cart</button></td> -->
                        <td  >$ {{item.price * item.quantity}}</td>
                        </tr>
                </tbody>
            </table>    
        </accordion-group>
        <accordion-group heading="Single Day ( Friday - October 8th, 2021)" >
            <table class="table table-bordered table-hover ">
                <thead>
                    <tr>
                    <th scope="col" >Items</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Quantity</th>
                    <!-- <th scope="col">Add</th> -->
                    <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of dataObject; index as i" >
                    
                    <tr *ngIf="i > 7 && i < 14" >
                        <th>{{item.description}}</th>
                        <td>$ {{item.price}}</td>
                        <td><input type="number" [(ngModel)]="item.quantity" style="width:50px" min="0" max="10" ></td>
                        <!-- <td> <button class="btn btn-warning" (click)="addToCartobj(item)" >Add to Cart</button></td> -->
                        <td  >$ {{item.price * item.quantity}}</td>
                    </tr>
                </tbody>
            </table>
        </accordion-group>
        <accordion-group heading="Single Day ( Saturday - October 9th, 2021)">
            <table class="table table-bordered table-hover ">
                    <thead>
                    <tr>
                        <th scope="col" >Items</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Quantity</th>
                        <!-- <th scope="col">Add</th> -->
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of dataObject; index as i" >
                    
                        <tr *ngIf="i > 13 && i < 20" >
                        <th>{{item.description}}</th>
                        <td>$ {{item.price}}</td>
                        <td><input type="number" [(ngModel)]="item.quantity" style="width:50px" min="0" max="10" ></td>
                        <!-- <td> <button class="btn btn-warning" (click)="addToCartobj(item)" >Add to Cart</button></td> -->
                        <td  >$ {{item.price * item.quantity}}</td>
                        </tr>
                </tbody>
            </table>    
        </accordion-group>
        <accordion-group heading="Single Day ( Sunday - October 10th, 2021)">
            <table class="table table-bordered table-hover ">
                <thead>
                    <tr>
                        <th scope="col" >Items</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Quantity</th>
                        <!-- <th scope="col">Add</th> -->
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of dataObject; index as i" >
                    
                        <tr *ngIf="i > 19" >
                        <th>{{item.description}}</th>
                        <td>$ {{item.price}}</td>
                        <td><input type="number" [(ngModel)]="item.quantity" style="width:50px" min="0" max="10" ></td>
                        <!-- <td> <button class="btn btn-warning" (click)="addToCartobj(item)" >Add to Cart</button></td> -->
                        <td  >$ {{item.price * item.quantity}}</td>
                        </tr>
                </tbody>
            </table>    
        </accordion-group>
    </accordion>
    <table class="table ">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col" colspan="3" ><div class="d-flex justify-content-end">Total</div></th>
            <!-- <th scope="col">Add</th> -->
            <th  scope="col">$ {{totalCost}}</th> 
            </tr>
        </thead>
    </table>

    <div class="float-right mb-5">
        <button class="btn btn-warning" (click)="addToCartobj()" >Add to Cart</button>
    </div>


  
   
    <!-- <div>
        {{ dataObject | json }}
    </div> -->
    
  </div>
