.panel-collapse .panel-body{
    padding: 0px;
}

.customClass div{
    padding: 0px;
}

accordion-group > div > div {
    padding : 0px;
}

[role="tabpanel"] .card-body {
    padding: 0rem !important;
}