<!--==========================
      CHHOTODER UTSAV!!! Section
    ============================-->
    <section id="youth" style="font-family: 'MeriendaOne'" >
        <div class="container">
          <div class="topLineFix"></div>
          <header class="section-header mt-5 mb-5">
            <h1 style="font-family: 'MeriendaOne'" class=" text-center" >NVBA Chhotoder Utsav</h1>
            <div class="col-12 text-center font-weight-bold" style="font-size: 1.2em;" >
                NVBA RangaMancha presents. . . <span class=" font-weight-light " style="font-size: 1em;">Virtual</span> CHHOTODER UTSAV!!!
            </div>  
          </header>


                  
                <!-- <iframe src="http://novaba.org/assets/media/15thAug.mp4" width="100%" height="100%" frameborder="0" ></iframe>  -->
                <div class="row mb-5 justify-content-center">    

                  <iframe width="720" height="405" src="https://www.youtube.com/embed/vGlOo2-aXvg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <!-- <video width="100%" height="100%" controls>
                  <source src="https://www.youtube.com/watch?v=vGlOo2-aXvg&feature=youtu.be" type="video/mp4">
                 
                Your browser does not support the video tag.
                </video> -->

                <div>
                  <div class="fb-comments" data-href="https://novaba.org/chhotoderutsav" data-numposts="5" data-width=""></div>

                </div>

                </div>
           
  
          <div class="row ">
                <img src="assets/images/stocks/youth/Picture1.png" style="min-width: 50%; margin: 0 auto;" class="img-fluid" alt="Responsive image">

                <div class="col-12 my-5" style="font-size: 1.2em;">
                    <p  class=" text-center">Let’s celebrate Indian culture on India’s Independence Day <br />
                        <strong>August 15th, 2020 @ 8 PM </strong> </p>
                </div>
              
                <img src="assets/images/stocks/youth/Picture2.png" style="min-width: 40%; margin: 0 auto;" class="img-fluid" alt="Responsive image">
               
              
  
            <div class="col-12 text-center mt-5 ">
                <p>
                    
                    • Theme – Indian Culture and Heritage. <br />
                    • Categories – Dance, Song, Fancy Dress/
                    Costume Parade, Recitation,
                    Instrumental. <br />
                    • Language – Bengali, Hindi, English. <br />
                    • Attire during performance – Indian
                    dress preferred. <br />
                    • Participation age – up to 18 years. <br />
                    • Duration - video maximum 3 minutes. <br />
                    • Video recording - Landscape mode. <br />
                    • MP4 format. <br />
                    • Submission deadline - August 1st, 2020. <br />
                    • Fill out the participation form by July
                    15th, 2020 <br />
                    • Submit the final entry @ 
                      <a href=" mailto:cultural.novaba@yahoo.com " >cultural.novaba@yahoo.com</a>
                      

                </p> 
  
            </div>

            <div class="d-flex align-content-stretch col-12 mt-4"  >
                
                    <div class="col-2  justify-content-center">
                        <img src="assets/images/stocks/youth/Picture5.png"   class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-2 justify-content-center">
                        <img src="assets/images/stocks/youth/Picture6.png"  class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-2 justify-content-center">
                        <img src="assets/images/stocks/youth/Picture3.png"  class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-2 justify-content-center">
                        <img src="assets/images/stocks/youth/Picture4.png"  class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-2 justify-content-center">
                        <img src="assets/images/stocks/youth/Picture7.png"  class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-2 justify-content-center">
                        <img src="assets/images/stocks/youth/Picture8.png"  class="img-fluid" alt="Responsive image">
                    </div>
              
            </div>

            
            <div class="col-12 text-center my-5 ">
                <p>
                    Our Facebook NVBA Youth Page 
                    <br/> <a href="https://www.facebook.com/nvbayouth/">https://www.facebook.com/nvbayouth/</a>
                </p>
            </div>    

          </div>
  
        </div>
      </section><!-- #about -->

      <div class="floatDonate">
        <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
    </div>
    
    <div class="floatfb">
      <a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
        <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
      </a>
      <br />
      <a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
        <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
      </a>
    </div>