<!--==========================
      Team Section
    ============================-->
    <section id="kobipronam2020" class="main-pages "  >
        <div class="container">
            <div class="topLineFix"></div>   
          <div class="section-header">
            <h2>Kobi Pronam 2020</h2>
            <h3 style="text-align: center;">Designed to be enjoyed from the comfort of your home in your living/family room
            </h3>
          </div>
          
          <img src="assets/images/banners/KobiPronam2020-banner.jpeg" style="width: 100%;" class="img-fluid" alt="Responsive image">

            <div class="d-flex flex-wrap mt-5 mb-5">
              <p>
                Kobi Pronam is one of NVBA's signature celebration. Every year it is celebrated to observe the birth anniversaries of great Bengali poets, Rabi Thakur (25 e Baishakh) and Kazi Nazrul (May 24th). The patrons are encouraged to participate in the event with the celebration theme.
              </p>
              <p>
                In the wake of COVID-19 and resultant social isolation, we had to re-visualize our traditional 'Kobi Pronam' event. NVBA launches 'Kobi Pronam' on the evening of July 25th, 2020, at 8:30 PM.
              </p>
              <p>
                You will see the NVBA patrons performing and celebrating the birth anniversary of these two great poets. The prime time will have dances, songs, recitation, and much more. You will enjoy the extravaganza from the comfort of your couch. 
              </p>
              <p>  
                To enable you to enjoy the evening, we have arranged for a touchless dinner from a commercial restaurant. You can place your order below and relax and enjoy the evening.<span class="red">*</span>
              </p>
            </div>
            <hr />
            <h3 class="d-flex justify-content-center mt-4" >Our Food Menu</h3>

            
            <div class="d-flex justify-content-center mb-4 col-md-12">
                <img src="assets/images/banners/KobiPronam2020-food.jpeg"  class="img-fluid rounded" alt="Kobi Pronam 2020"
                style="  display: block;
                max-width:630px;
                max-height:250px;
                width: auto;
                height: auto;"
                >
            </div>


            <div class="d-flex  justify-content-center mb-4 mt-4">
                <div class="flex-column col-lg-6">
                    <div><span class="red">*</span> Please see the below:</div>
                    <ul  style="margin: 0 auto;"> 
                        <li>
                            Food delivery shall be done by volunteers.
                        </li>
                        <li>
                            For safety reasons, the volunteers will wear hand gloves and face masks.
                        </li>
                        <li>
                            Food will be delivered in front.
                        </li>
                        <li>
                            Food packaging will be done at the commercial restaurant by the restaurant folks and handed over to the volunteers for delivery.
                        </li>
                        <li>
                            Food order may be cancelled and your money will be refunded if the number of orders are less than 20.
                        </li>
                        <li>
                            Food order may close if the number of deliver addresses is 50.
                        </li>
                        <li>
                            Due to logistics challenges, food can be delivered only at the below city and zip code combinations:
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" d-flex  justify-content-center  mb-5 " style="width: 100%">
              <div class="d-flex flex-wrap">
                <div class="col-md-4">
                    Aldie - 20105 <br />
                    Ashburn - 20146 <br />
                    Ashburn - 20147 <br />
                    Ashburn - 20148 <br />
                    Ashburn - 20149 
                </div>
                <div class="col-md-4">
                    Centerville - 20120 <br />
                    Centerville - 20121 <br />
                    Centerville - 20151 <br />
                    Chantilly - 20151 <br />
                    Chantilly - 20152 <br />
                    Chantilly - 22033 <br />
                </div>    
                <div class="col-md-4">
                    Fairfax - 22030 <br />
                    Fairfax - 22031 <br />
                    Herndon - 20170 <br />
                    Herndon - 20171 <br />
                </div>    
                <div class="col-md-4">
                    Reston - 20190 <br />
                    Reston - 20191 <br />
                    Sterling - 20164 <br />
                    Sterling - 20165 <br />
                    Sterling - 20166 <br />
                </div>  
              </div>      
            </div>
            
            <hr />
            <h3 class="d-flex justify-content-center mt-4" >Order</h3>
            
            <div class="d-flex flex-wrap mt-5 mb-5 col-lg-7 justify-content-center" style="margin: 0 auto;">
                <div class="col-md-12 add">
                    <form #nonveg target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="ERSW8KYL4BC8E">
                        <table style="width: 100%;">
                        <tr>
                            <td style="width: 60%;"><input type="hidden" name="on0" value="Chicken Manchurian, Veg Spring">Chicken Manchurian, Veg Spring Roll, Veg Fried Rice, Veg Noodles &nbsp; @  &nbsp; $13</td>
                            <!-- <td><input type="text" name="os0" maxlength="10" style="width:100px; margin: 10px;" ></td> -->
                            <td>
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" (click)="nonveg.submit()"  alt="PayPal - The safer, easier way to pay online!">
                            </td>
                        </tr>
                        </table>
                        
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                
                <hr />
                    
                <div class="col-md-12 float-right">
                    <form #veg target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="DE33TWQ6XNLWG">
                        <table style="width: 100%;">
                        <tr>
                            <td style="width: 60%;" ><input type="hidden" name="on0" value="Veg Manchurian, Veg Spring">Veg Manchurian,Veg Spring Roll, Veg Fried Rice, Veg Noodles &nbsp; @  &nbsp; $11</td>
                            <!-- <td><input type="text" name="os0" maxlength="200"></td> -->
                            <td>
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" (click)="veg.submit()"  alt="PayPal - The safer, easier way to pay online!">
                            </td>
                        </tr>
                        </table>
                        
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                
                <hr />
                    
                <div class="col-md-12">
                    <form #view  target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="business" value="novabacommittee@yahoo.com">
                        <input type="hidden" name="display" value="1">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 60%;"></td>
                                <td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_LG.gif" border="0" name="submit" (click)="view.submit()" alt="PayPal - The safer, easier way to pay online!"></td>
                            </tr>
                        </table>
                        
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                
                
                    
            </div>
          
            <!-- <div class="col-md-12 clearfix">
                <input type="number" [(ngModel)]="finalAmount">
                <div id="paypal-checkout-btn"></div>
            </div>

            <div class="d-flex flex-wrap mt-5 mb-5 col-lg-7 justify-content-center" style="margin: 0 auto;">
                <table style="width:100%">
                    <tr>
                        <td>
                            Chicken Manchurian, Veg Spring Roll, Veg Fried Rice, Veg Noodles
                        </td>
                        <td>
                            $13
                        </td>
                        <td>
                            <input type="number" [(ngModel)]="nonVegCount" style="width:50px" >
                        </td>
                        <td>
                            {{nonVegCount * 13}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Veg Manchurian, Veg Spring Roll, Veg Fried Rice, Veg Noodles
                        </td>
                        <td>
                            $11
                        </td>
                        <td>
                            <input type="number" [(ngModel)]="vegCount" style="width:50px" >
                        </td>
                        <td>
                            {{vegCount * 11}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Total
                        </td>
                        <td>
                            {{(nonVegCount * 13)+(vegCount * 11)}}
                        </td>
                    </tr>
                </table>
            </div> -->
             
  
        </div>
    </section><!-- #team -->


    