
<section id="portfolio" class="clearfix">
    <div class="container">
      <div class="topLineFix"></div>  
      <header class="section-header">
        <h3 class="section-title">Forget Password</h3>
      </header>
  
      <div class="row justify-content-center ">
        <div class="d-flex flex-column col-lg-4 col-md-6">
  
                  
         
                <form [formGroup]="forgetForm"  >
                    <label class="error alert alert-danger" *ngIf="errorMessage" >{{errorMessage}}</label>
                    <label class="success alert alert-success" *ngIf="successMessage" >{{successMessage}}</label>
                  <div class="form-group">
                    <label class="align-left" >Email address</label>
                    <input type="email" formControlName="email" class="form-control">
                  </div>
                  
                  <a class="btn-get-started" (click)="callForget(forgetForm.value)" >Email Reset Password</a>
                </form>
              
           
              
                
                
              
  
  
       </div>
     </div>
    </div>
  </section>    
  
  
  
  