<div class="mt-4" style="width:100%;" >
    <div *ngIf="this.member.membershipstatus === '' " >
        <div class=" " style="text-align: center;" >NVBA Membership gives you access to all NVBA events at discounted rates</div>
        <button (click)="addToCartobj()" class="btn-get-started w-100 mb-5 mt-2" >Buy Annual Membership ($20)</button>
    </div>
    <div *ngIf="this.member.membershipstatus == 'Expire' " >
        <div  class=" redExpired " >Membership Expired : {{ expired }}</div>
        <button (click)="addToCartobj()" class="btn-get-started w-100 mb-5 mt-2" > Renew Annual Membership</button>
    </div>
    <div *ngIf="this.member.membershipstatus == 'Valid' " >
        <div  class=" " style="text-align: center;" >Membership Expiration Date : {{ expired }}</div>
        <!-- <button (click)="addToCartobj()" class="btn-get-started w-100 mb-5 mt-2" > Renew Annual Membership</button> -->
    </div>
    
</div>
