<!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
          <div class="topLineFix"></div>
          <header class="section-header mt-5 mb-5">
            <h2>About Us</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
          </header>
  
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
                <p>Bengalis settled in the Northern Virginia area in the early Seventies. The Sixties had seen a small Bengali population make its home in DC and Maryland. The first ever Saraswati Puja was organized in 1967 and Durga Puja was celebrated by the community in 1973. The Bengalis of the area owe a debt of gratitude to Mrs. Mili Ghosh who brought the community together for a picnic as early as 1965. Her husband, Mr. Dhiren Ghosh, was one of the founders of Sanskriti in Maryland. That organization successfully continues to bring Bengalis together for community activities even today.</p>  
              <p>
                The Ghoshes moved in the Northern Virginia area in the late Eighties. They immediately felt a need for a community organization. Along with Subroto Samaddar, Tarak Bhar, Barin Chakraborty, Suranjan Dutta, Jitendra Laskar, Dev Kumar Kar, Tapan Majumdar, they established the Northern Virginia Bengali Association (NVBA). In late 1991, a constitution was approved and elections were held in 1992. Mr. Asim Mandal was elected the President, Mr. Samir Nandi, the Secretary, and Mr. Subroto Mitro, the Treasurer.
              </p>

              
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
              <img src="assets/gallery/images-2019/111.jpeg" class="img-fluid" alt="">
            </div>
          </div>
  
        </div>
      </section><!-- #about -->