<mat-sidenav-container class="example-container" >
<mat-sidenav #sidenav >
  
    <p class="sidenavHeader">
      <a mat-button (click)="sidenav.toggle()" class="float-right p-1 px-2" >x</a>
      <label>Welcome, Guest</label>
    </p>
    
    <nav class="main-nav float-left ">
      <ul>
        <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="home">Home</a>
          <hr class="style1">
        </li>
          
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" ><a routerLink="about">About Us</a></li>

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="president" class="ml-2" >From President's Desk</a></li>

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
            <a routerLink="team" class="ml-2" >Executive Committee</a></li>

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
            <a routerLink="history" class="ml-2" >History</a></li>
        
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="law" class="ml-2" >Our Constitution By Laws</a>
          <hr class="style1">
        </li>
          
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="imagegallery" >Image Gallery</a>
          <hr class="style1">
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="ameyaa2020" >Ameyaa 2020</a>
          <hr class="style1">
        </li>  
         
        
        <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="nvbayouth" class="ml-2" >Nvba Youth</a>
          <hr class="style1">
        </li> -->

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="cares">Cares</a>
          <hr class="style1">
        </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
            <a href="https://www.facebook.com/nvbayouth/" target="_blank">NVBA Youth</a>
            <hr class="style1">
          </li>

          <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
            <a href="http://novaba.org/cares/" target="_blank">NVBA Cares</a>
            <hr class="style1">
          </li>    -->

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
            <a routerLink="emailarchive" >Email Archive</a>
            <hr class="style1">
        </li> 

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="magazine" >Magazine Archive</a>
          <hr class="style1">
        </li>
        
        
        <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact: true}"  (click)="sidenav.toggle()" >
          <a routerLink="user">Membership</a>
        </li>  
        
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="member.displayName != 'Guest'" (click)="sidenav.toggle()" >
              <a routerLink="user" class="ml-2" >Member Details</a>
        </li>
        
        <li *ngIf="member.displayName != 'Guest'" (click)="sidenav.toggle()" >
              <a class="ml-2" (click)="signout()" >Sign Out</a>        
        </li>
        
        
        <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="user">Membership</a>
        </li>   -->
        
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <hr class="style1">
          <a routerLink="contactus">Contact Us</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <hr class="style1">
          <a routerLink="faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <!-- <app-sidenav ></app-sidenav>  -->
  </mat-sidenav> 

  <!-- <app-sidenav></app-sidenav> -->
  
  <mat-sidenav-content>
    <mat-progress-bar color="Warn" mode="indeterminate" ></mat-progress-bar>


      <button mat-button type="button" (click)="sidenav.toggle()" class="mobile-nav-toggle d-lg-none"><i class="fa fa-bars"></i></button>
      
    <app-header></app-header>

    <!-- <div [@routeAnimations]="prepareRoute(outlet)" > -->
    <div>  
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>


    <!-- Start your project here-->



