
<section id="portfolio" class="clearfix">
  <div class="container">
    <div class="topLineFix"></div>  
    <header class="section-header">
      <h3 class="section-title">Sign In</h3>
    </header>

    <div class="row justify-content-center ">
      <div class="d-flex flex-column col-lg-4 col-md-6">

                
       
              <form [formGroup]="registerForm"  >
                <label class="error alert alert-danger" *ngIf="errorMessage" >{{errorMessage}}</label>
                <label class="success alert alert-success" *ngIf="successMessage" >{{successMessage}}</label>
                <div class="form-group">
                  <label class="align-left" >Email address</label>
                  <input type="email" formControlName="email" class="form-control">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" formControlName="password">
                  
                </div>
                <button type="submit" (click)="tryRegister(registerForm.value)" class="btn-get-started w-100 mb-5">Register</button>
              </form>
            
<!--          
              <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Register with Facebook</button>
           
              <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Register with Google</button>
            
              <button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Register with Twitter</button> -->
            
              <p>Already have an account? <a routerLink="/login">Sign In</a></p> 
              
            


     </div>
   </div>
  </div>
</section>    



