<!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
        <div class="topLineFix"></div>    
        <p></p>
        <p></p>
          <header class="section-header my-5">
            <h2>Our History</h2>
          </header>
  
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
                <p>Bengalis settled in the Northern Virginia area in the early Seventies. The Sixties had seen a small Bengali population make its home in DC and Maryland. The first ever Saraswati Puja was organized in 1967 and Durga Puja was celebrated by the community in 1973. The Bengalis of the area owe a debt of gratitude to Mrs. Mili Ghosh who brought the community together for a picnic as early as 1965. Her husband, Mr. Dhiren Ghosh, was one of the founders of Sanskriti in Maryland. That organization successfully continues to bring Bengalis together for community activities even today.</p>  
              <p>
                The Ghoshes moved in the Northern Virginia area in the late Eighties. They immediately felt a need for a community organization. Along with Subroto Samaddar, Tarak Bhar, Barin Chakraborty, Suranjan Dutta, Jitendra Laskar, Dev Kumar Kar, Tapan Majumdar, they established the Northern Virginia Bengali Association (NVBA). In late 1991, a constitution was approved and elections were held in 1992. Mr. Asim Mandal was elected the President, Mr. Samir Nandi, the Secretary, and Mr. Subroto Mitro, the Treasurer.
              </p>

              
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
              <img src="assets/gallery/images-2019/111.jpeg" class="img-fluid" alt="">
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6  wow fadeInUp">
              <img src="assets/gallery/images-2019/12.jpeg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              
                <p>
                    NVBA has flourished in the Nineties and the early 2000s. The influx of highly educated IT professionals into the Northern Virginia area during the dot.com era has boosted NVBA’s membership.Today, NVBA has a robust membership. The leadership of the organization has been dynamic and entrepreneurial. NVBA has prospered financially, allowing the leadership to provide the community with pujas, celebrations, entertainments and picnics. The community has enjoyed performances by local artists and those from back home.
                  </p>
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
              <img src="assets/gallery/images-2019/1122.jpeg" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
              <h4>NVBA Past Presidents.</h4>
              <p></p>
              <div class="table-responsive text-nowrap">

                <table class="table table-borderless">
                  
                  <tbody>
                    <tr>
                      <th scope="row">2019</th>
                      <td>Mr.Sandip Ghosh</td>
                    </tr>
                    <tr>
                      <th scope="row">2018</th>
                      <td>Mr.Sandip Ghosh</td>
                    </tr>
                    <tr>
                      <th scope="row">2017</th>
                      <td>Supriya Majumder</td>
                    </tr>
                    <tr>
                      <th scope="row">2016</th>
                      <td>Supriya Majumder</td>
                    </tr>
                    <tr>
                      <th scope="row">2015</th>
                      <td>Samir Nandy</td>
                    </tr>
                    <tr>
                      <th scope="row">2014</th>
                      <td>Mr.Sandip Ghosh</td>
                    </tr>
                    <tr>
                      <th scope="row">2013</th>
                      <td>Mr.Sandip Ghosh</td>
                    </tr>
                    <tr>
                      <th scope="row">2012</th>
                      <td>Suparna Ray</td>
                    </tr>
                    <tr>
                      <th scope="row">2011</th>
                      <td>Mrs. Jolly Roy</td>
                    </tr>
                    <tr>
                        <th scope="row">2010</th>
                        <td>Mr.Sandip Ghosh</td>
                      </tr>
                      <tr>
                        <th scope="row">2009</th>
                        <td>Mr. Shyamal Das Gupta / Mr.Sandip Ghosh</td>
                      </tr>
                      <tr>
                        <th scope="row">2008</th>
                        <td>Mr. Amitabha Roy / Mr. Shyamal Das Gupta</td>
                      </tr>
                      <tr>
                        <th scope="row">2007</th>
                        <td>Mrs. Jolly Roy</td>
                      </tr> 
                      <tr>
                        <th scope="row">2006</th>
                        <td>Mrs. Jolly Roy</td>
                      </tr>  
                      <tr>
                        <th scope="row">2005</th>
                        <td>Mr. Arindam Gupta</td>
                      </tr>
                      <tr>
                        <th scope="row">2004</th>
                        <td>Mrs. Usha Gupta</td>
                      </tr>   
                      <tr>
                        <th scope="row">2003</th>
                        <td>Mr. Tarun Roy / Mrs. Usha Gupta</td>
                      </tr>  
                      <tr>
                        <th scope="row">2002</th>
                        <td>Mrs. Jolly Roy</td>
                      </tr> 
                      <tr>
                        <th scope="row">2001</th>
                        <td>Mrs. Jolly Roy</td>
                      </tr>  
                      <tr>
                        <th scope="row">2000</th>
                        <td>Mr. Prabhakar Ghosh</td>
                      </tr>
                      <tr>
                        <th scope="row">1999</th>
                        <td>Mrs. Bandana Sen</td>
                      </tr> 
                      <tr>
                        <th scope="row">1998</th>
                        <td>Mr.Tapan Majumdar</td>
                      </tr>
                      <tr>
                        <th scope="row">1997</th>
                        <td>Mr. Gautam Sinha</td>
                      </tr>
                      <tr>
                        <th scope="row">1996</th>
                        <td>Mr.Suranjan Dutta</td>
                      </tr> 
                      <tr>
                        <th scope="row">1995</th>
                        <td>Mr. Subroto Samaddar</td>
                      </tr>  
                      <tr>
                        <th scope="row">1994</th>
                        <td>Mr. Dev Kumar Kar</td>
                      </tr>
                      <tr>
                        <th scope="row">1993</th>
                        <td>Mr. Subroto Mitro</td>
                      </tr>   
                      <tr>
                        <th scope="row">1992</th>
                        <td>Mr. Asim Mondol</td>
                      </tr>                   
                </table>
              
              </div>
              <!-- <p>
               Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt. 
              </p> -->
              
            </div>
            
          </div>
  
        </div>
      </section><!-- #about -->