
    <!--==========================
      President Section
    ============================-->
    <div class="container ">
        <section id="contact">

            <div class="container-fluid">
                <div class="topLineFix"></div>  
      
              <div class="section-header">
                <h2>From the President's Desk</h2>
              </div>
      
              <div class="col" >
                <div class="row">
                  <img src="assets/images/ecm/RuchirGhosh.jpg" class=" img-rounded " style=" max-width: 220px; max-height: 220px; margin: 0px auto;" >
                </div>
                <div class=" mb-5 center" style=" margin: 0 auto; width: 100%; align-content: center; ">
                    
                </div>
                  
                  <p>
                    Dear Friends and Well-wishers of the NVBA Community:
                  </p>
                  <p> 
      We, the new executive committee of NVBA for the 2020-2021 term, extend our heartfelt thanks to the previous executive committee, for providing us with a resonant and robust social and cultural platform. As one of the largest Bengali communities in the Washington DC metropolitan area, together, we hope to extend and expand our mission and vision to make NVBA a meaningful Bengali cultural organization, upholding the culture and heritage of Bengal.
      </p> 
      <p> 
      In keeping with the tradition of NVBA, we will organize five regular events throughout the year -- Saraswati Puja, Poila Boisakh at Kali Bari, Summer Picnic, Kobi Jayanti and Durga Puja. By engaging in such social, cultural, developmental, and fun activities, all the year round, we endeavor to create a caring, respectful, compassionate and socially cohesive community that embraces people of all cultural, ethnic, and spiritual backgrounds. We believe that the strong community bonding developed in NVBA by the extremely competent past leaderships, will now be further strengthened and will continue to grow over generations to come.
      </p> 
      <p> 
      We plan to engage our bright and motivated youth in more and diverse community activities so that they get immersed in our conviction, culture and tradition and gradually become capable of steering NVBA in the right direction and to the next higher level in future.
      </p> 
      <p> 
      In my role as the President of NVBA, I, on behalf of the NVBA 2020-2021 Executive Committee, earnestly seek your generous support and active participation in the various volunteering activities performed by NVBA. By planning energetically and performing enthusiastically, together we will definitely succeed in advancing the goals and achievements of NVBA.
      </p> 
      <p> 
      Looking forward to working with all of you in the current term.
      </p> 
      <p> 
      সবারে করি আহ্বান,
      </p> 
      <p> 
      এসো উৎসুক চিত্ত, এসো আনন্দিত প্রাণ ।
      </p> 
      <p> 
      Thank you very much.<br><br>
      
      Warm regards,<br><br>
      
      Ruchir Ghosh<br>
      
      President NVBA 2020-2021 Executive Committee
                  </p>
                  
                </div>
      
            </div>
          </section><!-- #contact -->
    </div>
    


  <div class="floatDonate">
      <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
  </div>
  
  <div class="floatfb">
    <a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
      <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
    </a>
    <br />
    <a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
      <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
    </a>
  </div>