<!--==========================
    Intro Section
  ============================-->
<div class="homeMainDiv noScrollXaxis" > 

  
  <section id="intro" class="clearfix">
    <div class="marq" >
      <marquee>
        The supporters of NVBA wholeheartedly contributed $13,376. NVBA is closely working with organizations who are working on the ground (Ramakrishna Mission - Belur Math, Bharat Sevashram Sangha, Nimpith  - Sri Ramakrishna Ashram, Mukti, Nish-Shabd Angeekar Welfare Association, several groups of selfless volunteers. NVBA is still working to identify worthy organizations.
      </marquee>
   </div>
    <div class="">

      <div class="intro-img">
        <div class='slider'>
          <div class='slide1'></div>
          <div class='slide2'></div>
          <div class='slide3'></div>
        </div>
      </div>

    </div>
  </section><!-- #intro -->
  <!-- <div id="intro-placeholder"></div> -->

  <div id="main" class="homePageCont">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container upcomming">
        
        <div style="margin: 0 auto; width: 4%;height: 3px; border-top: 1px solid  #8c8c8c; ">
          <div style="margin: 1px auto; width: 80%; align-self: center; height: 1px; border-bottom: 1px solid  #8c8c8c;"></div>
        </div>
        
        <!-- <header class="section-header">
          <h2>Events</h2>
          <div style="width: 100%; height: 10px;"></div>
          <p>&nbsp;</p>
          <p>We having events throughout the years.</p>
        </header> -->

        <!-- <div class="row about-container">
 
          <div class="col-lg-12 content order-lg-1 order-2">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div> -->

          <!-- <div class="col-lg-4 background order-lg-2 order-1 wow fadeInUp">
            <img src="assets/img/about-img.svg" class="img-fluid" alt="">
          </div> 
        </div> -->

        <div class="col-lg-12 col-sm-12 px-5 mt-4 ">
          <h2>Upcoming Events</h2>
        </div>
        <div class="row mt-4">
          <div class="col-lg-4 col-sm-12 px-4 ">
            <a href="#" title="Kobi Pronam" > <h2>NVBA Picnic</h2> </a>
            <h4 class="textCenter">Date: August 14 <br /> More details coming soon.</h4>

          </div>
          <div class="col-lg-4 col-sm-12 px-4 ">
            <a href="#" title="Kichhu Gaan, Kichhu Golpo" > <h2>Kobi Pronam</h2> </a>
            <h4 class="textCenter">Date: TBD <br /> More details coming soon. </h4>
          </div>

          <div class="col-lg-4 col-sm-12 px-4 ">
            <a href="#" title="Kichhu Gaan, Kichhu Golpo" > <h2>Durga Puja </h2> </a>
            <h4 class="textCenter" >Date: October 8th, 9th & 10th 2021 <br /> More details coming soon. </h4>
          </div>
        </div>

        <div class="row mt-4">
          <hr />

          <div class="col-lg-12 col-sm-12 px-5 mt-4">
            <h2 style="text-decoration: underline;" >Past Events</h2>
          </div>

          <div class="row mt-4">
            <div class="col-lg-6 col-sm-12 px-5 ">
              <h2>NVBA Presents</h2>
            <a href="#" title="Kichhu Gaan, Kichhu Golpo" > <h1>Kichhu Gaan, Kichhu Golpo</h1> </a>
              <h4>April 18th, 2021 (Sunday)  at  10.00 am EST</h4>
  
            <figure>
                <figcaption>Listen Kichhu Gaan, Kichhu Golpo recording from Radio.</figcaption>
                <audio style="width: 100%;"
                    controls
                    src="./../../../assets/media/NVBA-Radio-Program-PoilaBoishakh3.mp3">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
            </figure>
  
              <h4 style="display: flex; justify-content: center;">On the occasion of Bengali Nababarsho (Poila Boishakh), for the first time in the history, Northern Virginia Bengali Association presents,'Kichhu Gaan, Kichhu Golpo- on Radio'. Listen to a variety of music and recitation from the talented members of the community.</h4>
     
              
  
  
  
            </div>
            <div class="col-lg-6 px-5 d-flex justify-content-center">
              <a href="#" target="_blank" class="px-5" >
               <img src="./../../../assets/images/stocks/radio.png" style=" max-height:315px; max-width:85vw; "   >
              </a>
            </div>
          </div>

          <div class="row mb-5">

            <div class="col-lg-12 col-sm-12 px-5 ">
              <a routerLink="../saraswatipuja"> <h1>Saraswati Puja </h1> </a>
              <span style="font-size: 1.1em;"><b> Saturday, February 20th, 2021</b> <br /></span>
              <h4 style="display: flex; justify-content: center;">NVBA is pleased to announce the children's events for virtual Saraswati Puja 2021.</h4>
                  
            </div>
          </div> 

          <div class="row mb-5">


            <div class="col-lg-6 px-5">
              
              <a routerLink="../durgapuja2020">
              <h1 class="flex-nowrap" style="color:rgba(0, 0, 0, 0.87); " >NVBA Virtual Durga Puja 2020</h1> </a>
              <!-- <a href="https://www.facebook.com/nvbayouth/" target="_blank" > -->
                <p style=" text-Transform: capitalize; ">
                  
                  <span style="font-size: 1.1em;"><b> October 23rd to October 25th, 2020.</b> <br /></span>
                   <br/>
                   NVBA is proud to host Durga Puja 2020 for blissful three days of virtual Puja celebration from October 23rd to October 25th, 2020. Our goal is to provide you with the same feeling as in previous years but in a virtual setup.NVBA always plans top-class entertainment featuring the best international and local artists in the line-up. NVBA RangaMancha will bring you three nights of cultural entertainment through its online streaming platform. Please watch the curtain-raiser and Please come together and celebrate this event with your family and friends. Please follow our newsletters for regular updates.
                       <!-- <br>
                       Stay tune at

                  <a href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" >NVBA TV </a> -->
                </p>
                <!-- <a routerLink="../durgapuja2020" class=" " ><img height="42" style="float: left; margin-bottom: 20px;" src="assets/images/stocks/moreInfo.png"  /> </a> -->
                <a routerLink="../durgapuja2020" > Click hear for more information.</a>
                <!-- <button routerLink="../orderfood" class="btn-get-started w-100 mb-5 mt-2" > Order Your Food</button> -->

            </div>
            <div class="col-lg-6 px-5 d-flex justify-content-center">
              <iframe style=" max-height:315px; max-width:560px; " src="https://www.youtube.com/embed/nic4RKOCaIo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-lg-6 px-5">
              <a routerLink="../durgapuja2020">
              <h1 class="flex-nowrap" style="color:rgba(0, 0, 0, 0.87); " >NVBA Durga Puja Bazar Online</h1></a>
              <!-- <a href="https://www.facebook.com/nvbayouth/" target="_blank" > -->
                <p style=" text-Transform: capitalize; ">
                  
                  <span style="font-size: 1.1em;"><b>Saturday, 12th and 19th of September, 2020. At 8 pm EST.</b> <br /></span>
                   <br/>
                       For the first time in the history of NVBA for the first time in the history of NVBA 
                       PUJA BAZAR is coming to you online !

                      Watch out for your favorite SAREES, JEWELRIES AND ACCESSORIES
                      FROM LOCAL AND INTERNATIONAL VENDORS !!
                      SHOP from the comfort of your home.
                      on


                  <a href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" >NVBA TV </a>
                </p>
              
            </div>
            <div class="col-lg-6 px-5 d-flex justify-content-center">
              <iframe style=" max-height:315px; max-width:560px; " src="https://www.youtube.com/embed/PBP6ojSjke0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
            </div>
          </div>



          <div class="row mb-5">
            <div class="col-lg-6 px-5">
              <h1 class="flex-nowrap"   >NVBA Amphan Relief Effort</h1>
              
                <p>
                  
                  <!-- <span style="font-size: 1.1em;"><b>August 15th, 2020</b> <br /></span> -->
                  NVBA wholeheartedly thanks its community members for contributing and supporting the relief efforts.
                  <!-- <a routerLink="https://www.facebook.com/nvbayouth/" >Click for more details.</a> -->
                </p>
             
            </div>
            <div class="col-lg-6 px-5">
              <video width="100%" controls style="position:relative; z-index: 1;" >
                <source src="assets/videos/amp.mp4" autoplay type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
          </div>


          <!-- <div class="col-lg-6 wow fadeInUp">
            
            <header class="section-header">
              <h2>Upcoming Events</h2>
              <div style="width: 100%; height: 10px;"></div>
            </header>
            
            <div class="row">
              <a routerLink="kobipronam2020" >
                <p>
                  <img src="assets/gallery/stock/rn.jpg" alt="Kobi Pronam" style="float: left; width: 50px; margin-right: 1em;">
                  <span>Kobi Pronam 2020 ( Virtual )</span> <br />
                  Data July 25, 2020. Time 8:30 PM. Link will be share soon. <br />
                  <a routerLink="kobipronam2020" >Click for more details.</a>
                </p>
              </a>  
            </div>
            
            <br />
            <div class="row">
              <p>
                <img src="assets/gallery/stock/maa_durga.jpeg" alt="Durga Pujo" style="float: left; width: 50px; margin-right: 1em;">
                <span>Durga Pujo </span> <br />
                
                  NVBA’s crowning glory is the celebration of Durga Pujo. Every year thousands of people witness this beautiful three day event from bengali as well as non-bengali community of Washington DC Metro region. 
                  <br />
                  NVBA is pleased to announce Durga Puja from 10/23/2020 to 10/25/2020 will be held at Stone Bridge High School, 43100 Hay Rd, Ashburn, VA 20147. 
              </p>
            </div>
            
            <br />
            <header class="section-header">
              <h2>Past Event</h2>
              <div style="width: 100%; height: 10px;"></div>
            </header>

              <div>
                <p>
                  <img src="assets/gallery/saraswati/4.jpg" alt="Saraswati Pujo" style="float: left; width: 50px; margin-right: 1em;">
                <span>Saraswati Pujo</span> <br />
                NVBA is pleased to announce the children's events for Saraswati Puja on 2/1/2020 to be held at Mercer Middle School, 42149 Greenstone Dr, Aldie, VA 20105. 
                <a routerLink="saraswatipujo2020" >Click for more details.</a>
                </p>
              </div>
            

          </div> -->
          <!-- <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            
             <div class="col-md-12" >
              <img src="assets/images/stocks/tv-frame.png" class="img-fluid" style="position: relative; z-index: 2;" alt="">
              <video width="100%" controls style="position:relative; z-index: 1;" >
                <source src="assets/videos/amp.mp4" autoplay type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div> 
            
          </div> -->
        </div>

        

      </div>
    </section><!-- #about -->

    
    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header" style="text-align: center;">
          <h2>Our Sponsors</h2>
          <div style="width: 100%; height: 20px;"></div>
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p> -->
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <a href="http://www.c-mci.com/corporate/" target="_blank">
                <img src="assets/images/sponsors/CMCI.png" class="img-fluid" alt=""> 
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo" >
              <a href="https://www.synchronisys.com" target="_blank">
                <img src="assets/images/sponsors/sync.png" class="img-fluid" alt="">
              </a>
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <a href=" https://www.facebook.com/shailaja.raju.3" target="_blank">
                <img src="assets/images/sponsors/realtor.png" class="img-fluid" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo"   >
              <a href="https://www.datasyncinc.com/" target="_blank" >
                <img src="assets/images/sponsors/datasync.jpg" class="img-fluid" alt="">
              </a>  
            </div>
          </div>
        
        
<!--           
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div> -->

        </div>

      </div>

    </section>



  </div>
 
</div>  <!-- -->  


<div class="floatDonate">
  <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
</div>

<div class="floatfb">
<a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
  <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
</a>
<br />
<a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
  <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
</a>
</div>