<!--==========================
    Intro Section
  ============================-->
<div class="homeMainDiv noScrollXaxis" > 

  
  <section id="intro" class="clearfix">
    <div class="marq" >
      <marquee>
        The supporters of NVBA wholeheartedly contributed $13,376. NVBA is closely working with organizations who are working on the ground (Ramakrishna Mission - Belur Math, Bharat Sevashram Sangha, Nimpith  - Sri Ramakrishna Ashram, Mukti, Nish-Shabd Angeekar Welfare Association, several groups of selfless volunteers. NVBA is still working to identify worthy organizations.
      </marquee>
   </div>
    <div class="">

      <div class="intro-img">
        <div class='slider'>
          <div class='slide1'></div>
          <div class='slide2'></div>
          <div class='slide3'></div>
        </div>
      </div>

    </div>
  </section><!-- #intro -->
  <!-- <div id="intro-placeholder"></div> -->

  <div id="main" class="homePageCont">

    <!--==========================
      Home page Section
    ============================-->
    <section id="about">
      <div class="container upcomming">
        
        <div style="margin: 0 auto; width: 4%;height: 3px; border-top: 1px solid  #8c8c8c; ">
          <div style="margin: 1px auto; width: 80%; align-self: center; height: 1px; border-bottom: 1px solid  #8c8c8c;"></div>
        </div>
        
        <!-- <header class="section-header">
          <h2>Events</h2>
          <div style="width: 100%; height: 10px;"></div>
          <p>&nbsp;</p>
          <p>We having events throughout the years.</p>
        </header> -->

        <!-- <div class="row about-container">
 
          <div class="col-lg-12 content order-lg-1 order-2">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div> -->

          <!-- <div class="col-lg-4 background order-lg-2 order-1 wow fadeInUp">
            <img src="assets/img/about-img.svg" class="img-fluid" alt="">
          </div>     justify-content: center;
    align-items: center;
    
        </div> -->
        
        <!-- <div  >
          <div class="flex-center" >

            <div style="display: flex;" class=" justify-content-center mt-3 col-lg-6 " >
              <img src="assets/images/stocks/kkConcert-2021.jpg"  class="img-fluid dp" alt="Responsive image">
            </div>
          </div>  
          <div class="flex-center" >
            <a class="btn-get-started text-center mb-5 m-1 " target="_blank"   href="https://nvba.ticketspice.com/nvba-kavita-krishnamurti-live-in-concert" >Buy Kavita Krishnamurti Concert Tickets</a>

          </div>
        </div> -->

        <div class="col-lg-12 col-sm-12 px-5 mt-4 ">


          <h2>Upcoming Events</h2>

          <div class="col-lg-12 col-sm-12 px-4 " >
            <a routerLink="../picnic" title="Picnic" > <h2>NVBA Picnic</h2> </a>
            <h4 class="textCenter">Date: June 18th, 2022.<br /> 
              Venue: Bull Run Park, Shelter 8 <br>
              Time: 10 am to 6 pm.  </h4>
              <a routerLink="/picnic" style="max-width: 200px; display: flex; justify-content: center; margin: 0 auto 20px auto;" >More Details</a>
              <!-- <a class="btn-get-started text-center " style="max-width: 200px; display: flex; justify-content: center; margin: 0 auto 30px auto;"  (click)="getLocation()" >Get Directions</a> -->
          </div>

          

          <!-- <p class="textCenter" >
            Wish you a Happy Thanksgiving and Happy New Year filled with abundance and bright moments.
          </p> -->

        </div>


        


        <div class="row mt-4">
          <hr />

          <div class="col-lg-12 col-sm-12 px-5 my-4">
            <h2 style="text-decoration: underline;" >Past Events</h2>
          </div>

          <div class="col-lg-12 col-sm-12 px-4 " >

            <div class="col-lg-12 col-sm-12 px-4" >
              <a routerLink="/kobipronam" title="Kobi Pronam - 2022" > <h2>Kobi Pronam 2022  </h2> </a>
             
              <p>
                Kobi Pronam is one of NVBA's signature celebration. Every year it is celebrated to observe the birth anniversaries of great Bengali poets, Rabi Thakur (25 e Baishakh) and Kazi Nazrul (May 24th). The patrons are encouraged to participate in the event with the celebration theme.
              </p>
              <h4 class="textCenter mb-4">Date: May 21st, 2022.<br /> 
                Venue: <a target="_blank" href="https://goo.gl/maps/NaJDXDgUrJGpXYzi6" >Mercer Middle School</a>  <br />
                Time: 7:00 PM to 10:00 PM.  </h4>
            </div>

            <div class="col-lg-12 col-sm-12 px-4" >
              <a routerLink="#" title="Poila Baishakh - 2022" > <h2>Poila Baishakh - 2022 </h2> </a>
             
              
              <p class="col-sm-12 textCenter" >NVBA invites you to attend its Poila Baishakh <br> on</p>
              <h4 class="textCenter mb-4">Date: April 16th, 2022.<br /> 
                Venue: <a target="_blank" href="https://www.google.com/maps/dir//Washington+Kali+Temple+16126+New+Columbia+Pike+Burtonsville,+MD+20866/@39.1220233,-76.9291781,10z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89b7db82dd99f805:0x9c1025da6be75674!2m2!1d-76.9291781!2d39.1220233" >Washington Kali Temple</a>  <br />
                Time: 10:00 AM to 3:00 PM.  </h4>
            </div>

            <a routerLink="../saraswatipuja" title="Saraswati Puja - 2022" > <h2>Saraswati Puja - 2022 </h2> </a>
           <!-- <p class="textCenter mt-3">
             <a class="btn-get-started text-center" routerLink="../rangamancha" >Join NVBA Rangamancha</a>
           </p> -->
            <p class="col-sm-12 textCenter" >Northern Virginia Bengali Association (NVBA) invites you to attend its Saraswati Puja <br> on</p>
            <h4 class="textCenter">Date: February 5th, 2022.<br /> 
              Venue: Virtual / Drive Through ( Freedom High School - <a target="_blank" href="https://www.google.com/maps/dir/38.8784053,-77.2268372/Freedom+High+School,+25450+Riding+Center+Dr,+Chantilly,+VA+20152/" >25450 Riding Center Dr, Chantilly, VA 20152</a> ) <br />
              Time: 10:00 AM to 3:00 PM.  </h4>
              <a routerLink="../saraswatipuja" style="max-width: 200px; display: flex; justify-content: center; margin: 0 auto 20px auto;" >More Details </a>
              <!-- <a class="btn-get-started text-center " style="max-width: 200px; display: flex; justify-content: center; margin: 0 auto 30px auto;"  (click)="getLocation()" >Get Directions</a> -->
          </div>

          <div class="col-lg-12 col-sm-12 px-4 pb-3" >
            <a routerLink="../agm" title="AGM" > <h2>Annual General Meeting (AGM) </h2> </a>
            <p class="col-sm-12 textCenter" >Northern Virginia Bengali Association (NVBA) Annual General Meeting (AGM) held on</p>
            <h4 class="textCenter">Date: December 5th, 2021.<br /> 
              Venue: Chantilly Regional Library Meeting Room <br />
              Time: 3:00 PM to 6:00 PM.  </h4>
              <a routerLink="/agm" style="max-width: 200px; display: flex; justify-content: center; margin: 0 auto 20px auto;" >More Details</a>
              <!-- <a class="btn-get-started text-center " style="max-width: 200px; display: flex; justify-content: center; margin: 0 auto 30px auto;"  (click)="getLocation()" >Get Directions</a> -->
          </div>


                   <!-- Durga Pujo start -->
          <div class="row mb-5 col-lg-12">
            <div class="col-lg-6 px-5">
              <a href="../durgapuja2021" title="Durga Puja" > <h2>Durga Puja 2021</h2> </a>
              <h4 class="textCenter">Date:<br />  October 8th to 10th, 2021.<br /> <br /> 
                Venue:<br /> 
                Freedom High School, <br /> 25450 Riding Center Dr, <br /> Chantilly, VA 20152<br /><br /> 
                Timings: <br /> 
                    October 8th -  6 pm to 10 pm. <br>
                    October 9th and 10th - 9am to 10 pm.
                </h4>
              <!-- <h4 class="textCenter" > More details coming soon. </h4>
              -->
              

              

              <!-- <p>Registration closed for Durga Puja. </p>  -->

              <div class="flex-center" >
                
                <!-- <a class="btn-get-started text-center " routerLink="/ordertickets" >Register for Durga Puja 2021</a> -->
                
                <!-- <a class="btn-get-started text-center " style="max-width: 200px; display: flex; justify-content: center; margin: 0 auto 30px auto;"  (click)="getLocation()" >Get Directions</a> -->

                <!-- For DP Registration -->
                  <!-- <div *ngIf="this.member.membershipstatus === '' " >
                    <a class="btn-get-started text-center " routerLink="/user" >Register for Durga Puja 2021 Darshan & Buy Kavita Krishnamurti Concert Tickets</a>
                  </div>  
                  <div *ngIf="this.member.membershipstatus == 'Valid' " >
                    <a class="btn-get-started text-center " routerLink="/ordertickets" >Register for Durga Puja 2021 Darshan & Buy Kavita Krishnamurti Concert Tickets</a>
                  </div>  -->

                  <!-- <a class="wx-button" href="https://nvba.ticketspice.com/nvba-kavita-krishnamurti-live-in-concert" style="background:rgba(95,122,114,1);color:white;padding:10px 20px;text-decoration:none;font-weight:bold;" target="_blank">Get Tickets</a> -->

                  

                  <a class="btn-get-started text-center " routerLink="/durgapuja2021" >More details - Durga Puja 2021</a>
                
              </div>
              <!-- <app-cartmember></app-cartmember> -->

            </div>
            <div class="col-lg-6  d-flex justify-content-center  " style="flex-direction: column;" >
            
              <iframe style=" height:275px; width: 85%; margin: auto; " src="https://www.youtube.com/embed/hm82WINuSrA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
              <img src="assets/images/stocks/kkConcert-2021.jpg"  class="img-fluid dp mt-4" alt="Responsive image">
            
              </div>
          </div>
        <!-- Durga Pujo End -->


           


          <div class="row mb-5">
            <div class="col-lg-6 px-5">
              <a href="../kobipronam" title="2021 NABC Global" > <h2> Kobi Pronam 2021</h2> </a>
              
              
              <p>
                NVBA RangaMancha is back with 'Kobi Pronam 2021'
                A tribute to
                Kobiguru Rabindranath Tagore and Kaji Nazrul Islam.
                
              </p>
              <p style="text-align: center; justify-content: center; " >
                This event was virtually telecasted on <br> NVBA YOUTUBE Channel on <br>
                31st July, 2021, Saturday, 8.00 pm. EST
              </p>
  
            </div>
            <div class="col-lg-6  d-flex justify-content-center">
               <iframe style=" height:275px; width: 85%; margin: auto; " src="https://www.youtube.com/embed/z3xzfTn_PVA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>
          </div>



          <div class="row mb-5">
            <div class="col-lg-6 px-5">
              <a href="https://nabcglobal.org/" title="2021 NABC Global" > <h2>2021 NABC Global</h2> </a>
              
              <h3>From the Desk of the Convener</h3>
              <p>
                This year NABC Global as a purposeful and happening 3-day long musical and cultural extravaganza for a humanitarian cause affecting the globe. Scheduled for July 2 through July 4, 2021 this year's NABC will continue its philanthropic efforts and donate all surplus money from the event for COVID-19 relief effort in Bengal, India. A virtual concert like no other. Join us to extend COVID Care to India and at the same time, immerse yourself in Bengali Culture with top stars from Bengal.
              </p>
              <!-- <h3>NABC Exclusive Immersive Experience</h3>
              <p> First time ever International Bengali Conference in a <strong>3D Experience</strong> </p>
              <h2>Registration US$25 for three days of entertainment</h2>
              <a _ngcontent-dso-c107="" href="https://www.nabcglobal.virtuallive.in/" target="_blank" class="btn-get-started " style="width: 100%; text-align: center;" >Register Now</a>
              <p><span style="color: red;">*</span>Note:- Please use NVBA as Name of Affiliated Organization</p> -->
              
              <!-- <a href="https://nabcglobal.org/" target="_blank" >
              <img src="./../../../assets/images/stocks/Nabc.jfif" style=" max-height:315px; max-width:85vw; margin-right: 2em;"   >
              </a> -->

            </div>
            <div class="col-lg-6  d-flex justify-content-center">
              <!-- <iframe style=" height:315px; width: 85%; margin: auto; " src="https://www.youtube.com/embed/4umVX92Wa8M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

              <img src="./../../../assets/images/stocks/tuhu.png" style=" max-height:315px; max-width:85%; "  >

            </div>
          </div>

          <!-- End of NABC  -->

          
          <div class="row mb-5">
            <div class="col-lg-6 px-5">
              
                <h2>NVBA Presents</h2>
                <h1 style="color: #ff8d00;">Kichhu Gaan, Kichhu Golpo</h1>
                <div style=" text-Transform: capitalize;     text-align: center; ">
                  
                  <span style="font-size: 1.1em;"><b> April 18th, 2021 (Sunday)  at  10.00 am EST </b> <br /></span>
                   <br />
                    <div>Listen Kichhu Gaan, Kichhu Golpo -  Recording.</div>
                   <br/>
                   <audio 
                            controls
                            src="https://s3.amazonaws.com/novaba.org/media/nvba-radio-program-poilaboishakh.mp3">
                                Your browser does not support the
                                <code>audio</code> element.
                        </audio>
                   <br />
                   <p class="my-4">On the occasion of Bengali Nababarsho (Poila Boishakh), for the first time in the history, Northern Virginia Bengali Association presents,'Kichhu Gaan, Kichhu Golpo- on Radio'. Listen to a variety of music and recitation from the talented members of the community.</p>
                </div>

            </div>
            <div class="col-lg-6 px-5 d-flex justify-content-center">
                <img src="./../../../assets/images/stocks/radio.png" style=" max-height:315px; max-width:85vw; "   >
            </div>
          </div>

          <!-- End of radio  -->

          <div class="row mb-5">

            <div class="col-lg-12 col-sm-12 px-5 ">
              <a routerLink=""> <h1>Saraswati Puja </h1> </a>
              <span style="font-size: 1.1em;"><b> Saturday, February 20th, 2021</b> <br /></span>
              <h4 style="display: flex; justify-content: center;">NVBA is pleased to announce the children's events for virtual Saraswati Puja 2021.</h4>
                  
            </div>
          </div> 

          <div class="row mb-5">


            <div class="col-lg-6 px-5">
              
              <a routerLink="../durgapuja2020">
              <h1 class="flex-nowrap" style="color:rgba(0, 0, 0, 0.87); " >NVBA Virtual Durga Puja 2020</h1> </a>
              <!-- <a href="https://www.facebook.com/nvbayouth/" target="_blank" > -->
                <p style=" text-Transform: capitalize; ">
                  
                  <span style="font-size: 1.1em;"><b> October 23rd to October 25th, 2020.</b> <br /></span>
                   <br/>
                   NVBA is proud to host Durga Puja 2020 for blissful three days of virtual Puja celebration from October 23rd to October 25th, 2020. Our goal is to provide you with the same feeling as in previous years but in a virtual setup.NVBA always plans top-class entertainment featuring the best international and local artists in the line-up. NVBA RangaMancha will bring you three nights of cultural entertainment through its online streaming platform. Please watch the curtain-raiser and Please come together and celebrate this event with your family and friends. Please follow our newsletters for regular updates.
                       <!-- <br>
                       Stay tune at

                  <a href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" >NVBA TV </a> -->
                </p>
                <!-- <a routerLink="../durgapuja2020" class=" " ><img height="42" style="float: left; margin-bottom: 20px;" src="assets/images/stocks/moreInfo.png"  /> </a> -->
                <a routerLink="../durgapuja2020" > Click hear for more information.</a>
                <!-- <button routerLink="../orderfood" class="btn-get-started w-100 mb-5 mt-2" > Order Your Food</button> -->

            </div>
            <div class="col-lg-6 px-5 d-flex justify-content-center">
              <iframe style=" max-height:315px; max-width:560px; " src="https://www.youtube.com/embed/nic4RKOCaIo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-lg-6 px-5">
              <a routerLink="../durgapuja2020">
              <h1 class="flex-nowrap" style="color:rgba(0, 0, 0, 0.87); " >NVBA Durga Puja Bazar Online</h1></a>
              <!-- <a href="https://www.facebook.com/nvbayouth/" target="_blank" > -->
                <p style=" text-Transform: capitalize; ">
                  
                  <span style="font-size: 1.1em;"><b>Saturday, 12th and 19th of September, 2020. At 8 pm EST.</b> <br /></span>
                   <br/>
                       For the first time in the history of NVBA for the first time in the history of NVBA 
                       PUJA BAZAR is coming to you online !

                      Watch out for your favorite SAREES, JEWELRIES AND ACCESSORIES
                      FROM LOCAL AND INTERNATIONAL VENDORS !!
                      SHOP from the comfort of your home.
                      on


                  <a href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" >NVBA TV </a>
                </p>
              
            </div>
            <div class="col-lg-6 px-5 d-flex justify-content-center">
              <iframe style=" max-height:315px; max-width:560px; " src="https://www.youtube.com/embed/_wbMd8DPQPk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
            </div>
          </div>



          <div class="row mb-5">
            <div class="col-lg-6 px-5">
              <h1 class="flex-nowrap"   >NVBA Amphan Relief Effort</h1>
              
                <p>
                  
                  <!-- <span style="font-size: 1.1em;"><b>August 15th, 2020</b> <br /></span> -->
                  NVBA wholeheartedly thanks its community members for contributing and supporting the relief efforts.
                  <!-- <a routerLink="https://www.facebook.com/nvbayouth/" >Click for more details.</a> -->
                </p>
             
            </div>
            <div class="col-lg-6 px-5">
              <video width="100%" controls style="position:relative; z-index: 1;" >
                <source src="assets/videos/amp.mp4" autoplay type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
          </div>


          <!-- <div class="col-lg-6 wow fadeInUp">
            
            <header class="section-header">
              <h2>Upcoming Events</h2>
              <div style="width: 100%; height: 10px;"></div>
            </header>
            
            <div class="row">
              <a routerLink="kobipronam2020" >
                <p>
                  <img src="assets/gallery/stock/rn.jpg" alt="Kobi Pronam" style="float: left; width: 50px; margin-right: 1em;">
                  <span>Kobi Pronam 2020 ( Virtual )</span> <br />
                  Data July 25, 2020. Time 8:30 PM. Link will be share soon. <br />
                  <a routerLink="kobipronam2020" >Click for more details.</a>
                </p>
              </a>  
            </div>
            
            <br />
            <div class="row">
              <p>
                <img src="assets/gallery/stock/maa_durga.jpeg" alt="Durga Pujo" style="float: left; width: 50px; margin-right: 1em;">
                <span>Durga Pujo </span> <br />
                
                  NVBA’s crowning glory is the celebration of Durga Pujo. Every year thousands of people witness this beautiful three day event from bengali as well as non-bengali community of Washington DC Metro region. 
                  <br />
                  NVBA is pleased to announce Durga Puja from 10/23/2020 to 10/25/2020 will be held at Stone Bridge High School, 43100 Hay Rd, Ashburn, VA 20147. 
              </p>
            </div>
            
            <br />
            <header class="section-header">
              <h2>Past Event</h2>
              <div style="width: 100%; height: 10px;"></div>
            </header>

              <div>
                <p>
                  <img src="assets/gallery/saraswati/4.jpg" alt="Saraswati Pujo" style="float: left; width: 50px; margin-right: 1em;">
                <span>Saraswati Pujo</span> <br />
                NVBA is pleased to announce the children's events for Saraswati Puja on 2/1/2020 to be held at Mercer Middle School, 42149 Greenstone Dr, Aldie, VA 20105. 
                <a routerLink="saraswatipujo2020" >Click for more details.</a>
                </p>
              </div>
            

          </div> -->
          <!-- <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            
             <div class="col-md-12" >
              <img src="assets/images/stocks/tv-frame.png" class="img-fluid" style="position: relative; z-index: 2;" alt="">
              <video width="100%" controls style="position:relative; z-index: 1;" >
                <source src="assets/videos/amp.mp4" autoplay type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div> 
            
          </div> -->
        </div>

        

      </div>
    </section><!-- #about -->

    
    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header" style="text-align: center;">
          <h2>Our Sponsors</h2>
          <div style="width: 100%; height: 20px;"></div>
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p> -->
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <a href="http://www.c-mci.com/corporate/" target="_blank">
                <img src="assets/images/sponsors/CMCI.png" class="img-fluid" alt="CMCI"> 
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo" >
              <a href="https://www.synchronisys.com" target="_blank">
                <img src="assets/images/sponsors/sync.png" class="img-fluid" alt="SYNC">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo"   >
              <a href="https://www.synergybis.com/" target="_blank" >
                <img src="assets/images/sponsors/synergy.png" class="img-fluid" alt="Synergy">
              </a>  
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <a href=" https://www.facebook.com/shailaja.raju.3" target="_blank">
                <img src="assets/images/sponsors/realtor.png" class="img-fluid" alt="Realtor">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo"   >
              <a href="https://www.datasyncinc.com/" target="_blank" >
                <img src="assets/images/sponsors/datasync.jpg" class="img-fluid" alt="">
              </a>  
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <a href="https://www.thebritegroup.com/" target="_blank">
                <img src="assets/images/sponsors/thebritegroup.png" class="img-fluid" alt="The brite group">
              </a>
            </div>
          </div>
        
        
<!--           
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div> -->

        </div>

      </div>

    </section>



  </div>
 
</div>  <!-- -->  


<div class="floatDonate">
  <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
</div>

<div class="floatfb">
<a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
  <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
</a>
<br />
<a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
  <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
</a>
</div>