<!--==========================
    Intro Section
  ============================-->
<div class="homeMainDiv noScrollXaxis" > 
 <div class="marq" >
    <marquee>
      The supporters of NVBA wholeheartedly contributed $13,376. NVBA is closely working with organizations who are working on the ground (Ramakrishna Mission - Belur Math, Bharat Sevashram Sangha, Nimpith  - Sri Ramakrishna Ashram, Mukti, Nish-Shabd Angeekar Welfare Association, several groups of selfless volunteers. NVBA is still working to identify worthy organizations.
    </marquee>
 </div>
  
  <section id="intro" class="clearfix">
    <div class="">

      <div class="intro-img">
        <div class='slider'>
          <div class='slide1'></div>
          <div class='slide2'></div>
          <div class='slide3'></div>
        </div>
      </div>

    </div>
  </section><!-- #intro -->
  <!-- <div id="intro-placeholder"></div> -->

  <div id="main" class="homePageCont">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container upcomming">
        
        <div style="margin: 0 auto; width: 4%;height: 3px; border-top: 1px solid  #8c8c8c; ">
          <div style="margin: 1px auto; width: 80%; align-self: center; height: 1px; border-bottom: 1px solid  #8c8c8c;"></div>
        </div>
        
        <!-- <header class="section-header">
          <h2>Events</h2>
          <div style="width: 100%; height: 10px;"></div>
          <p>&nbsp;</p>
          <p>We having events throughout the years.</p>
        </header> -->

        <!-- <div class="row about-container">
 
          <div class="col-lg-12 content order-lg-1 order-2">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div> -->

          <!-- <div class="col-lg-4 background order-lg-2 order-1 wow fadeInUp">
            <img src="assets/img/about-img.svg" class="img-fluid" alt="">
          </div> 
        </div> -->

        <div class="row mt-5">
          <!-- <div class="row mb-5">
            <div class="col-lg-6 col-sm-12 px-5 ">
              <div class="row">
                <h1>NVBA Partners with NABC 2020 </h1>
                
                <p>
                  <a href="https://www.nabc2020.org/" target="_blank"  >
                  <img src="assets/images/stocks/40th-nabc-logo-header.gif" alt="Durga Pujo" style="float: left; width:auto; margin-right: 1em;">
                  </a>
                  <span style="font-size: 1.1em;"><strong> <b>3rd, 4th & 5th July 2020</b> </strong>  <br /> NVBA Partners with NABC 2020 - COVID & AMPHAN Care Concert. </span> <br />
                  Global Bengalis help Bengal and India. Enjoy the mega event with  mega performers. See details at 
                  <a href="https://www.nabc2020.org/" >https://www.nabc2020.org/   <br />
                    #WeCare, #HelpBengal, #saveBengal
                  </a>  
                     

                </p>
              </div>
            </div>
            <div class="col-lg-6 px-5">
              <img src="assets/images/stocks/nabc_banner.jpg" class="img-fluid"  alt="NABC-2020">
            </div>
          </div> -->
          <!-- End of 1st Section -->
          <hr />
          <div class="row mb-5">
            <div class="col-lg-6 px-5">
              <a routerLink="kobipronam2020" >
              <h1 class="flex-nowrap" class="" style="color:rgba(0, 0, 0, 0.87);"  >Annual Kobi Pronam Celebrations</h1>
              
                <p class="mb-3">
                  <img src="assets/gallery/stock/rn.jpg" alt="Kobi Pronam" style="float: left; max-width: 100px; margin-right: 1em; margin-bottom: 2em;">
                  <span style="font-size: 1.1em;"><b>July 25th, 2020 - 8:00 PM </b> <br /></span>
                  NVBA Rangamancha presents ‘Annual Kobi Pronam Celebrations’ to pay homage to the great Bengali poets, Sri Rabindranath Tagore and Kazi Nazrul Islam. NVBA’s first ever virtual event. 
                  Viewing links will be provided during the week of the event.

                  <a routerLink="kobipronam2020" >Click for more details.</a>
                </p>
              </a>
            </div>
            <div class="col-lg-6 px-5"> 
              <iframe style="width: 100%; min-height: 250px;" src="https://www.youtube.com/embed/UueSuvnVOHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

          </div>
          <!-- End of 2nd Section chhotoderutsav  RangaMancha  rangamancha -->

          <div class="row mb-5">
            <div class="col-lg-6 px-5">
              <a routerLink="chhotoderutsav">
              <h1 class="flex-nowrap" style="color:rgba(0, 0, 0, 0.87);" >NVBA Chhotoder Utsav</h1>
              <!-- <a href="https://www.facebook.com/nvbayouth/" target="_blank" > -->
                <p>
                  
                  <span style="font-size: 1.1em;"><b>August 15th, 2020</b> <br /></span>
                  NVBA Youth’s Festival (virtual event) - Stay tuned for the upcoming young NVBiAns event, on NVBA RangaMancha and NVBA TV. <br/>
                  <a routerLink="chhotoderutsav" >Click for more details.</a>

                  <!-- <a href="https://www.facebook.com/nvbayouth/" >Click for more details.</a> -->
                </p>
              </a>
            </div>
            <div class="col-lg-6 px-5 d-flex justify-content-center">
              <a routerLink="chhotoderutsav">
                <img src="assets/images/stocks/youth/Picture1.png"  class="img-fluid "  alt="Responsive image">
              </a>
              
            </div>
          </div>
          <!-- End of 3rd Section -->

          <div class="row mb-5">
            <div class="col-lg-6 px-5">
              <h1 class="flex-nowrap"  >NVBA Amphan Relief Effort</h1>
              
                <p>
                  
                  <!-- <span style="font-size: 1.1em;"><b>August 15th, 2020</b> <br /></span> -->
                  NVBA wholeheartedly thanks its community members for contributing and supporting the relief efforts.
                  <!-- <a routerLink="https://www.facebook.com/nvbayouth/" >Click for more details.</a> -->
                </p>
             
            </div>
            <div class="col-lg-6 px-5">
              <video width="100%" controls style="position:relative; z-index: 1;" >
                <source src="assets/videos/amp.mp4" autoplay type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
          </div>


          <!-- <div class="col-lg-6 wow fadeInUp">
            
            <header class="section-header">
              <h2>Upcoming Events</h2>
              <div style="width: 100%; height: 10px;"></div>
            </header>
            
            <div class="row">
              <a routerLink="kobipronam2020" >
                <p>
                  <img src="assets/gallery/stock/rn.jpg" alt="Kobi Pronam" style="float: left; width: 50px; margin-right: 1em;">
                  <span>Kobi Pronam 2020 ( Virtual )</span> <br />
                  Data July 25, 2020. Time 8:30 PM. Link will be share soon. <br />
                  <a routerLink="kobipronam2020" >Click for more details.</a>
                </p>
              </a>  
            </div>
            
            <br />
            <div class="row">
              <p>
                <img src="assets/gallery/stock/maa_durga.jpeg" alt="Durga Pujo" style="float: left; width: 50px; margin-right: 1em;">
                <span>Durga Pujo </span> <br />
                
                  NVBA’s crowning glory is the celebration of Durga Pujo. Every year thousands of people witness this beautiful three day event from bengali as well as non-bengali community of Washington DC Metro region. 
                  <br />
                  NVBA is pleased to announce Durga Puja from 10/23/2020 to 10/25/2020 will be held at Stone Bridge High School, 43100 Hay Rd, Ashburn, VA 20147. 
              </p>
            </div>
            
            <br />
            <header class="section-header">
              <h2>Past Event</h2>
              <div style="width: 100%; height: 10px;"></div>
            </header>

              <div>
                <p>
                  <img src="assets/gallery/saraswati/4.jpg" alt="Saraswati Pujo" style="float: left; width: 50px; margin-right: 1em;">
                <span>Saraswati Pujo</span> <br />
                NVBA is pleased to announce the children's events for Saraswati Puja on 2/1/2020 to be held at Mercer Middle School, 42149 Greenstone Dr, Aldie, VA 20105. 
                <a routerLink="saraswatipujo2020" >Click for more details.</a>
                </p>
              </div>
            

          </div> -->
          <!-- <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            
             <div class="col-md-12" >
              <img src="assets/images/stocks/tv-frame.png" class="img-fluid" style="position: relative; z-index: 2;" alt="">
              <video width="100%" controls style="position:relative; z-index: 1;" >
                <source src="assets/videos/amp.mp4" autoplay type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div> 
            
          </div> -->
        </div>

        

      </div>
    </section><!-- #about -->

    
    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header" style="text-align: center;">
          <h2>Our Sponsors</h2>
          <div style="width: 100%; height: 20px;"></div>
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p> -->
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/images/sponsors/CMCI.png" class="img-fluid" alt=""> 
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/images/sponsors/sync.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/images/sponsors/synergy.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/images/sponsors/realtor.png" class="img-fluid" alt="">
            </div>
          </div>
<!--           
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div> -->

        </div>

      </div>

    </section>



  </div>
 
</div>  <!-- -->  