<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
        <div class="container">
          <div class="topLineFix"></div>  
          <header class="section-header mb-5 ">
            <h2 class="section-title">Our Image Gallery</h2>
          </header>
  
          <!-- <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-2019">2019</li>
                <li data-filter=".filter-2018">2018</li>
                <li data-filter=".filter-2017">2017</li>
                <li data-filter=".filter-2016">2016</li>
              </ul>
            </div>
          </div> -->
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-2019">
              <div class="portfolio-wrap">
                <img src="assets/gallery/images-2019/1.jpg" class="img-fluid" alt="">
                <a target="_blank" href="assets/gallery/images-2019/1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                <div class="portfolio-info">
                  <h4><a target="_blank" href="#">2019</a></h4>
                  <p>2019</p>
                </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-2018">
                <div class="portfolio-wrap">
                    <img src="assets/gallery/images-2018/1.jpg" class="img-fluid" alt="">
                    <a target="_blank" href="assets/gallery/images-2018/1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                    <div class="portfolio-info">
                    <h4><a target="_blank" href="#">2018</a></h4>
                    <p>2018</p>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-2017">
                <div class="portfolio-wrap">
                    <img src="assets/gallery/images-2017/1.jpg" class="img-fluid" alt="">
                    <a target="_blank" href="assets/gallery/images-2017/1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                    <div class="portfolio-info">
                    <h4><a href="#">2017</a></h4>
                    <p>2017</p>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-2016">
                <div class="portfolio-wrap">
                    <img src="assets/gallery/images-2016/1.jpg" class="img-fluid" alt="">
                    <a target="_blank" href="assets/gallery/images-2016/1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                    <div class="portfolio-info">
                    <h4><a href="#">2016</a></h4>
                    <p>2016</p>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-2019" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                  <img src="assets/gallery/images-2019/2.jpg" class="img-fluid" alt="">
                  <a target="_blank" href="assets/gallery/images-2019/2.jpg" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview">
                  <div class="portfolio-info">
                    <h4><a href="#">2019</a></h4>
                    <p>2019</p>
                  </div>
                  </a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-2018" data-wow-delay="0.1s">
                  <div class="portfolio-wrap">
                      <img src="assets/gallery/images-2018/2.jpg" class="img-fluid" alt="">
                      <a target="_blank" href="assets/gallery/images-2018/2.jpg" data-lightbox="portfolio" data-title="2018" class="link-preview" title="Preview">
                      <div class="portfolio-info">
                      <h4><a href="#">2018</a></h4>
                      <p>2018</p>
                      </div>
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-2017" data-wow-delay="0.1s" >
                  <div class="portfolio-wrap">
                      <img src="assets/gallery/images-2017/2.jpg" class="img-fluid" alt="">
                      <a target="_blank" href="assets/gallery/images-2017/2.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                      <div class="portfolio-info">
                      <h4><a href="#">2017</a></h4>
                      <p>2017</p>
                      </div>
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-2016" data-wow-delay="0.1s">
                  <div class="portfolio-wrap">
                      <img src="assets/gallery/images-2016/2.jpg" class="img-fluid" alt="">
                      <a target="_blank" href="assets/gallery/images-2016/2.jpg" data-lightbox="portfolio" data-title="2016" class="link-preview" title="Preview">
                      <div class="portfolio-info">
                      <h4><a href="#">2016</a></h4>
                      <p>2016</p>
                      </div>
                      </a>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-2019" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                  <img src="assets/gallery/images-2019/3.jpg" class="img-fluid" alt="">
                  <a target="_blank" href="assets/gallery/images-2019/3.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                  <div class="portfolio-info">
                    <h4><a href="#">2019</a></h4>
                    <p>2019</p>
                  </div>
                  </a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-2018" data-wow-delay="0.2s">
                  <div class="portfolio-wrap">
                      <img src="assets/gallery/images-2018/3.jpg" class="img-fluid" alt="">
                      <a target="_blank" href="assets/gallery/images-2018/3.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                      <div class="portfolio-info">
                      <h4><a href="#">2018</a></h4>
                      <p>2018</p>
                      </div>
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-2017" data-wow-delay="0.2s">
                  <div class="portfolio-wrap">
                      <img src="assets/gallery/images-2017/3.jpg" class="img-fluid" alt="">
                      <a target="_blank" href="assets/gallery/images-2017/3.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                      <div class="portfolio-info">
                      <h4><a href="#">2017</a></h4>
                      <p>2017</p>
                      </div>
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-2016" data-wow-delay="0.2s">
                  <div class="portfolio-wrap">
                      <img src="assets/gallery/images-2016/3.jpg" class="img-fluid" alt="">
                      <a target="_blank" href="assets/gallery/images-2016/3.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                      <div class="portfolio-info">
                      <h4><a href="#">2016</a></h4>
                      <p>2016</p>
                      </div>
                      </a>
                  </div>
              </div>


              <div class="col-lg-4 col-md-6 portfolio-item filter-2019" data-wow-delay="0.3s">
                <div class="portfolio-wrap">
                  <img src="assets/gallery/images-2019/4.jpg" class="img-fluid" alt="">
                  <a target="_blank" href="assets/gallery/images-2019/4.jpg" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview">
                  <div class="portfolio-info">
                    <h4><a href="#">2019</a></h4>
                    <p>2019</p>
                  </div>
                  </a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-2018" data-wow-delay="0.3s">
                  <div class="portfolio-wrap">
                      <img src="assets/gallery/images-2018/4.jpg" class="img-fluid" alt="">
                      <a target="_blank" href="assets/gallery/images-2018/4.jpg" data-lightbox="portfolio" data-title="2018" class="link-preview" title="Preview">
                      <div class="portfolio-info">
                      <h4><a href="#">2018</a></h4>
                      <p>2018</p>
                      </div>
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-2017" data-wow-delay="0.3s" >
                  <div class="portfolio-wrap">
                      <img src="assets/gallery/images-2017/4.jpg" class="img-fluid" alt="">
                      <a target="_blank" href="assets/gallery/images-2017/4.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                      <div class="portfolio-info">
                      <h4><a href="#">2017</a></h4>
                      <p>2017</p>
                      </div>
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-2016" data-wow-delay="0.3s">
                  <div class="portfolio-wrap">
                      <img src="assets/gallery/images-2016/4.jpg" class="img-fluid" alt="">
                      <a target="_blank" href="assets/gallery/images-2016/4.jpg" data-lightbox="portfolio" data-title="2016" class="link-preview" title="Preview">
                      <div class="portfolio-info">
                      <h4><a href="#">2016</a></h4>
                      <p>2016</p>
                      </div>
                      </a>
                  </div>
              </div>



  
  
          </div>
  
        </div>
      </section><!-- #portfolio -->

