<!--==========================
      About NVBA Cares
    ============================-->
<section id="cares">
    <div class="container">
        <div class="topLineFix"></div>
        <p></p>
        <p></p>
        <header class="section-header mt-5 mb-0">
            <h2>NVBA Cares</h2>
        </header>


        <div class=" col-lg-12 col-md-12   justify-content-center  ">

                <div class="col-lg-12  col-xs-12 d-flex justify-content-center caresLogo" >
                    <img src="assets/images/stocks/cares-logo.png " width="100%" height="100%" alt="Responsive image">
                </div>

           
                <p class=" col-lg-12 col-md-12 col-sm-10  flex  justify-content-center  text-center ">
                    NVBA Cares program caters to the below mission of NVBA’s charter.<br>

                        Support and fund charitable causes. <br>

                        Serve the local community to address homelessness and food insecurity. <br>
                </p>
                <div class="col-lg-12  col-xs-12 d-flex justify-content-center "  >
                    <h2 style="font-size: 1.3em; font-weight: bold;" >Join us, support us, donate your time, donate money.</h2>
                </div>

                <div class="col-lg-12  col-xs-12 d-flex justify-content-center ">
                    
                <div>
                    <a href="https://www.paypal.com/us/fundraiser/charity/2511674" target="_blank">
                        <img src="assets/gallery/stock/paypal.png" class="img-fluid" alt="">
                    </a>
                </div>
                    
                </div>

        </div>

        <div class="section-header px-5 mt-5 mb-5">
            <h2 style="color: #ff6600; font-size: 1.8em; font-weight: bolder; text-decoration: underline;">Our Programs & Services</h2>
            <h3 class="pt-2" style="color: #ff6600; font-size: 1.3em;">2020 Charities</h3>
        </div>

        <div class="row about-container pt-2" #1 >

            <div class="col-lg-6 content order-lg-1 order-1">
                <a href="cares#1">
                    <h1 class=" eventsHeaderL">Baking Kits for Firefighters</h1>
                </a>
                <h3 class="date"><b> December 20th, 2020.</b> <br /></h3>
                <p>
                    Every year in the past, we have
                    provided home-made hot breakfast to
                    firefighters in December to say our
                    thanks for all the sacrifices they make
                    year-round. This year, due to COVID
                    that was not a viable option. Instead of
                    home-cooked breakfast, we provided
                    baking-kit gift bags so that the
                    firefighters could bake their own
                    cookies and cakes at home. A total of
                    220 firefighters from 8 local fire
                    stations received these packages. This
                    was sponsored, in part, by Dr. Dave
                    Roy and his wife Dr. Theresa Huang.
                </p>
            </div>

            <div class="col-lg-6 col-sm-12 background order-lg-2 order-2 wow fadeInUp pt-1 pr-5 pb-5 pl-5">
                <img src="assets/images/stocks/cares/cares-2020-9.png" class="img-fluid" alt="">
            </div>
        </div>

        <hr >

        <div class="row about-extra pt-5" #2 >
            <div class="col-lg-6 order-lg-1 order-2 wow fadeInUp pt-1 pr-5 pb-5 pl-5 m-auto">
                <img src="assets/images/stocks/cares/cares-2020-8.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow order-lg-2 order-1  fadeInUp  ">
                <a href="cares#2">
                    <h1 class=" eventsHeaderL">Food Bags for Dulles South Pantry</h1>
                </a>
                <h3 class="date"><b> December 14th, 2020.</b> <br /></h3>
                <p>
                    With COVID’s impact on food security
                    still a threat the team decided that
                    we could do more this year to help
                    with Food banks to address this issue.
                    Cares, with the help of NVBA EC and
                    EC families delivered 100 food bags
                    (754 lbs) to DSPF taking our total food
                    donation for the year to 4984 lbs. It
                    was a rainy day of delivery, but that
                    did not deter our volunteers in
                    delivering the goods.
                </p>
            </div>
        </div>

        <hr >

        <div class="row about-container pt-5" #3>

            <div class="col-lg-6 content order-lg-1 order-1 ">
                <a href="cares#3">
                    <h1 class=" eventsHeaderL">Thanksgiving Food Drive for Food For Others </h1>
                </a>
                <h3 class="date"><b> November 11th and 25th, 2020.</b> <br /></h3>
                <p>
                    This year’s annual Thanksgiving food
                    drive for FFO was unlike any other
                    year’s. With COVID restrictions firmly
                    in place due to a raging second wave,
                    none of our traditional avenues of
                    collecting food were open to us. Our
                    only option (except couple of boxes in
                    Centerville Giants) was to launch an
                    all out fundraiser to collect money to
                    buy food for our annual donation to
                    FFO. And that’s exactly what we did. A
                    total of $3049 was raised and 4230
                    lbs of food was donated to FFO.
                </p>
            </div>

            <div class="col-lg-6 background order-lg-2 order-2 wow fadeInUp pt-1 pr-5 pb-5 pl-5 ">
                <img src="assets/images/stocks/cares/cares-2020-7.png" class="img-fluid" alt="">
            </div>
        </div>

        <hr >
        
        <div class="row about-extra pt-5" #4>
            <div class="col-lg-6 order-lg-1 order-2  wow fadeInUp pt-1 pr-5 pb-5 pl-5">
                <img src="assets/images/stocks/cares/cares-2020-6.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow order-lg-2 order-1  fadeInUp pt-lg-0">
                <a href="cares#4">
                    <h1 class=" eventsHeaderL">Fundraiser for Super Cyclone Amphan Relief Work</h1>
                </a>
                <h3 class="date"><b> May 25th, 2020.</b> <br /></h3>
                <p>
                    Super Cyclonic Storm Amphan was a powerful and catastrophic tropical cyclone that caused widespread
                    damage in Eastern India, specifically West Bengal, in May 2020.
                </p>
                <p>
                    The supporters of NVBA wholeheartedly contributed $13,376. NVBA is closely working with
                    organizations who are working on the ground (Ramakrishna Mission - Belur Math, Bharat Sevashram
                    Sangha, Nimpith - Sri Ramakrishna Ashram, Mukti, Nish-Shabd Angeekar Welfare Association, several
                    groups of selfless volunteers. NVBA worked with worthy organizations at the time of catastrophe.
                </p>
            </div>
        </div>

        <hr >

        <div class="row about-container pt-5" #5>

            <div class="col-lg-6 content order-lg-1 order-1 ">
                <a href="cares#5">
                    <h1 class=" eventsHeaderL">Beddings for Katherine Hanley Family Shelter</h1>
                </a>
                <h3 class="date"><b> April 21st, 2020.</b> <br /></h3>
                <p>
                    As COVID was on the rise and funds were
                    drying up for many homeless shelters we
                    reached out to our partner Katherine
                    Hanley Family Shelter to ask if any help was
                    needed. They mentioned due to COVID
                    related budget cuts they no longer had
                    linen service for residents and desperately
                    needed new beddings. The ask was for 50
                    new beddings for the residents. Our
                    volunteers with the help of their friends
                    and colleagues donated 50 requested
                    beddings (valued $2000) through Amazon.
                </p>
            </div>

            <div class="col-lg-6 background order-lg-2 order-2 wow fadeInUp pt-1 pr-5 pb-5 pl-5 ">
                <img src="assets/images/stocks/cares/cares-2020-5.png" class="img-fluid" alt="">
            </div>
        </div>
        
        <hr >

        <div class="row about-extra pt-5" #6>
            <div class="col-lg-6 order-lg-1 order-2 wow fadeInUp pt-1 pr-5 pb-5 pl-5">
                <img src="assets/images/stocks/cares/cares-2020-4.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow order-lg-2 order-1  fadeInUp  pt-lg-0">
                <a href="cares#6">
                    <h1 class=" eventsHeaderL">Pandemic fundraiser for DSP and other Charities</h1>
                </a>
                <h3 class="date"><b> March 15th, 2020.</b> <br /></h3>
                <p>
                    With the Pandemic news spreading and
                    realities of what misery it could bring on
                    the local population in need, we sprung
                    to action to raise funds to help our local
                    food bank partner, Dulles South Food
                    pantry. Our goal was to raise a $1000
                    from NVBA general membership. We
                    ended up raising $2000. We donated
                    $1,200 to DSP and $500 to Kolkata
                    Foundation for COVID help in Kolkata.
                    We saved $300 for other charitable
                    activities later in the year.
                </p>
            </div>
        </div>

        <hr >

        <div class="row about-container pt-5" #7>

            <div class="col-lg-6 content order-lg-1 order-1 ">
                <a href="cares#7">
                    <h1 class=" eventsHeaderL">Park Clean-up @Cunnigham Park</h1>
                </a>
                <h3 class="date"><b> March 1st, 2020.</b> <br /></h3>
                <p>
                    At the request of Fairfax County
                    Parks division our volunteers
                    participated in removing invasive
                    plants. 20 adults and 8 children
                    participated in this fun event. We
                    were looking forward to the followup event where we would go back
                    for reseeding and planting native
                    plants. Unfortunately, that never
                    happened as the COVID pandemic
                    news broke and most mass activities
                    got canceled.
                </p>
            </div>

            <div class="col-lg-6 background order-lg-2 order-2 wow fadeInUp pt-1 pr-5 pb-5 pl-5 ">
                <img src="assets/images/stocks/cares/cares-2020-3.png" class="img-fluid" alt="">
            </div>
        </div>

        <hr >

        <div class="row about-extra pt-5" #8>
            <div class="col-lg-6 order-lg-1 order-2  wow fadeInUp pt-1 pr-5 pb-5 pl-5">
                <img src="assets/images/stocks/cares/cares-2020-2.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow order-lg-2 order-1  fadeInUp  pt-lg-0">
                <a href="cares#8">
                    <h1 class=" eventsHeaderL">Fundraiser for Angawadi</h1>
                </a>
                <h3 class="date"><b> February 1st, 2020.</b> <br /></h3>
                <p>
                    2020 brought us a whole new
                    initiative in the form of helping an
                    Anganwadi school in Kalikapur stand
                    on its feet. A day-care/school for 20
                    street children, the school was badly
                    in need of supplies and structural help
                    to make the place a better
                    environment for the children. Our
                    volunteers seized the opportunity of
                    organizing misti/bake sale to raise
                    funds during Saraswati Puja. $700 was
                    raised through the sale and much
                    needed help was provided to the
                    Anganwadi school. Details at the end.
                </p>
            </div>
        </div>

        <hr >

        <div class="row about-container pt-5" #9>

            <div class="col-lg-6 content order-lg-1 order-1 ">
                <a href="cares#9">
                    <h1 class=" eventsHeaderL">Kar-Seva at Raj Khalsa Gurudwara</h1>
                </a>
                <h3 class="date"><b> January 3rd, 2020.</b> <br /></h3>
                <p>
                    It was all about starting the year right with
                    doing some volunteering kar-seva at Raj
                    Khalsa Gurudwara in Sterling. This
                    Gurudwara has been a great partner of
                    ours over the years, so we never miss an
                    opportunity to roll up our sleeves to help
                    them in their kitchen. 2020 was no
                    exception. Except, after January we could
                    not go back for the rest of the year as
                    things changed due to COVID.
                </p>
            </div>

            <div class="col-lg-6 background order-lg-2 order-2 wow fadeInUp pt-1 pr-5 pb-5 pl-5 ">
                <img src="assets/images/stocks/cares/cares-2020-1.png" class="img-fluid" alt="">
            </div>
        </div>

        <hr >

        <div class="row about-extra pt-5" id="10">
            <div class="col-lg-6 order-lg-1 order-2  wow fadeInUp pt-1 pr-5 pb-5 pl-5">
                <img src="assets/images/stocks/cares/cares-2020-10.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow order-lg-2 order-1  fadeInUp  pt-lg-0">
                <a href="cares#10">
                    <h1 class=" eventsHeaderL">Project Anganwadi-2020 Highlights</h1>
                </a>
                <h3 class="date"><b> 2020 Highlights</b> <br /></h3>
                <p>
                    Funds raised for Anganwadi during
                    Saraswati Puja and in the Fall were
                    used for
                </p>
                <ul>
                    <li>
                        Helping the school with structural
                        improvements and class room
                        improvements (plastic mats, plastic
                        drums for keeping food supplies
                        safe from rodents)
                    </li>
                    <li>
                        Providing weekly nutritional ration
                        for the children during the COVID
                        related school closure. As of
                        12/31…7 weeks of such nutrition
                        has been provided. This is expected
                        to go on till early part of 2021
                    </li>
                </ul>

            </div>
        </div>

        <hr>

        <div class="row about-container pt-5" id="11">

            <div class="col-lg-6 content order-lg-1 order-1">
                <a href="cares#11">
                    <h1 class=" eventsHeaderL">Cares Extended Team Project for Sitarampur</h1>
                </a>
                <h3 class="date"><b> Help for Sitarampur</b> <br /></h3>
                <p>
                    Cares extended team, with the help of
                    senior NVBA members like Samir Nandy
                    and Tarun Roy and substantial financial
                    assistance from Pulak Chakraborty and
                    Ashok Motayed are feeding 100
                    children daily lunch in the red-light
                    district of Sitarampur, near Asansol. The
                    project started in August and is
                    expected to continue into early 2021.
                    Apart from daily food the children have
                    been provided with basic instruction,
                    new clothes for Durga Puja andnew
                    sweaters for the winter months.
                </p>
            </div>

            <div class="col-lg-6 background order-lg-2 order-2 wow fadeInUp pt-1 pr-5 pb-5 pl-5 ">
                <img src="assets/images/stocks/cares/cares-2020-11.png" class="img-fluid" alt="">
            </div>
        </div>

        <!-- <div class="row about-extra pt-1" id="12">
            <div class="col-lg-6 order-lg-1 order-2 wow fadeInUp pt-1 pr-5 pb-5 pl-5">
                <img src="assets/images/stocks/cares/cares-2020-12.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow order-lg-2 order-1  fadeInUp pt-5 pt-lg-0">
                <a href="cares#12">
                    <h1 class=" eventsHeaderL">Fundraiser for Angawadi</h1>
                </a>
                <h3 class="date"><b> February 1st, 2020.</b> <br /></h3>
                <p>
                    2020 brought us a whole new
                    initiative in the form of helping an
                    Anganwadi school in Kalikapur stand
                    on its feet. A day-care/school for 20
                    street children, the school was badly
                    in need of supplies and structural help
                    to make the place a better
                    environment for the children. Our
                    volunteers seized the opportunity of
                    organizing misti/bake sale to raise
                    funds during Saraswati Puja. $700 was
                    raised through the sale and much
                    needed help was provided to the
                    Anganwadi school. Details at the end.
                </p>
            </div>
        </div> -->

        <div class="section-header px-5 mt-5 mb-5">
            <h2>Thanks for visiting our site.</h2>
        </div>
    </div>
</section><!-- #about -->


<div class="floatDonate">
    <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674"
        style="cursor: pointer;"><strong>Donate</strong></a>
</div>

<div class="floatfb">
    <a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
        <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; ">
    </a>
    <br />
    <a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw"
        style="cursor: pointer;">
        <img src="assets/images/logo/youtube_logo.png" style="height: 44px; ">
    </a>
</div>