
<section id="portfolio" class="clearfix">
    <div class="container">
      <div class="topLineFix"></div>  
      <header class="section-header">
        <h2 class="section-title">NVBA YEARLY MAGAZINES</h2>
      </header>

      <div class="row">

        <div class="d-flex  flex-column col-lg-12 ">
        
            <div class=" flex-center align-items-center flex-column mt-3 " >
              
              <span class="section-title m-2">NVBA MAGAZINE 2021</span>
              <a href="https://online.fliphtml5.com/opzuy/xqim/" target="_blank" >
                  <img src="assets/images/stocks/mag2021.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
              </a>
              
            </div>


            <div class="row mt-4 " >

              <div class="col-md-6 ">
                <div class=" flex-center align-items-center flex-column mt-3 " >
                  <span class="section-title m-2">NVBA MAGAZINE 2020</span>
                  <a href="https://online.fliphtml5.com/opzuy/tgub/" target="_blank" >
                      <img src="assets/images/stocks/mag2020.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                  </a>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class=" flex-center align-items-center flex-column mt-3 " >
                  <span class="section-title m-2">NVBA MAGAZINE 2019</span>
                  <a href="https://online.fliphtml5.com/opzuy/qotx/" target="_blank" >
                      <img src="assets/images/stocks/mag2019.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                  </a>
                </div>
              </div>
                
            </div>


            <div class="row mt-4" >
              <div class="col-md-6 ">
                <div class=" flex-center align-items-center flex-column mt-3 " >
                  <span class="section-title m-2">NVBA MAGAZINE 2018</span>
                  <a href="https://online.fliphtml5.com/opzuy/psdr/" target="_blank" >
                      <img src="assets/images/stocks/mag2018.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                  </a>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class=" flex-center align-items-center flex-column mt-3 " >
                  <span class="section-title m-2">NVBA MAGAZINE 2017</span>
                  <a href="https://online.fliphtml5.com/opzuy/ycgt/" target="_blank" >
                      <img src="assets/images/stocks/mag2017.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                  </a>
                </div>
              </div>
            </div>

            <div class="row mt-4" >
              <div class="col-md-6 ">
                <div class=" flex-center align-items-center flex-column mt-3 " >
                  <span class="section-title m-2">NVBA MAGAZINE 2016</span>
                  <a href="https://online.fliphtml5.com/opzuy/lqey/" target="_blank" >
                      <img src="assets/images/stocks/mag2016.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                  </a>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class=" flex-center align-items-center flex-column mt-3 " >
                  <span class="section-title m-2">NVBA MAGAZINE 2013</span>
                  <a href="https://online.fliphtml5.com/opzuy/yaca/" target="_blank" >
                      <img src="assets/images/stocks/mag2013.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                  </a>
                </div>
              </div>
            </div>

         

         

       </div>
     </div>
    </div>
</section>     


<div class="floatDonate">
  <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
</div>

<div class="floatfb">
<a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
  <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
</a>
<br />
<a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
  <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
</a>
</div>