
<section id="portfolio" class="clearfix">
    <div class="container">
      <div class="topLineFix"></div>  
      <header class="section-header">
        <h2 class="section-title">NVBA MAGAZINE 2019</h2>
      </header>

      <div class="row">
        <div class="d-flex align-items-center flex-column col-lg-12 ">
          <div class="col-lg-12 ">
            <iframe style="width:100%;height:400px" src="https://online.fliphtml5.com/opzuy/qotx/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
          </div>

          <div class="section-header mt-5 mb-1" >
              <h2 class="section-title">NVBA MAGAZINE 2018</h2>
          </div>

          <div class="col-lg-12 ">
            <iframe style="width:100%;height:400px" src="https://online.fliphtml5.com/opzuy/psdr/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
          </div>  

          <div class="section-header mt-5 mb-1" >
              <h2 class="section-title">NVBA MAGAZINE 2017</h2>
          </div>

          <div class="col-lg-12 ">
            <iframe style="width:100%;height:400px" src="https://online.fliphtml5.com/opzuy/ycgt/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
          </div> 

          <div class="section-header mt-5 mb-1" >
              <h2 class="section-title">NVBA MAGAZINE 2016</h2>
          </div>

          <div class="col-lg-12 ">
            <iframe style="width:100%;height:400px" src="https://online.fliphtml5.com/opzuy/lqey/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
          </div> 

          <div class="section-header mt-5 mb-1" >
              <h2 class="section-title">NVBA MAGAZINE 2013</h2>
          </div>

          <div class="col-lg-12 ">
            <iframe style="width:100%;height:400px" src="https://online.fliphtml5.com/opzuy/yaca/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
          </div> 

       </div>
     </div>
    </div>
</section>     


<div class="floatDonate">
  <a class="" target="_blank" href="https://www.paypal.com/us/fundraiser/charity/2511674" style="cursor: pointer;"><strong>Donate</strong></a>
</div>

<div class="floatfb">
<a class="" target="_blank" href="https://www.facebook.com/novaba" style="cursor: pointer;">
  <img src="assets/images/logo/fb-Logo_new.png" style="height: 40px; " >
</a>
<br />
<a class="" target="_blank" href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" style="cursor: pointer;">
  <img src="assets/images/logo/youtube_logo.png" style="height: 44px; " >
</a>
</div>