<!--==========================
      Saraswati Pujo Section 
    ============================-->
    <section id="about">
        <div class="container">
          <div class="topLineFix"></div>
          <header class="section-header">
            <h3>Saraswati Pujo</h3>
            <p>Saraswati puja is celebrated by Hindus all across the globe. This festival is primarily significant for scholars and students who worship Goddess Saraswati with dedication to acquire wisdom and knowledge.</p>
          </header>

          

          <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
              <p>
                NVBA is pleased to announce details for our most awaited Saraswati Pujo.
              </p>
  
              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-calendar"></i></div>
                <h4 class="title"><a href="">Date</a></h4>
                <p class="description">Saturday, 1st February 2020</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <a target="_blank" href="https://www.google.com/maps/dir//Mercer+Middle+School,+42149+Greenstone+Dr,+Aldie,+VA+20105/@38.9256425,-77.5488429,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89b641c3ba822e23:0xf3d318eb03789316!2m2!1d-77.5466542!2d38.9256425!3e0"> 
                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                    <h4 class="title">Location</h4>
                    <p class="description"> Mercer Middle School, 42149 Greenstone Dr, Aldie, VA 20105</p>
                </a>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-clock-o"></i></div>
                <h4 class="title"><a href="">Timing</a></h4>
                <p class="description">9am to 10pm</p>
              </div>
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                  <div class="intro-img">
                    <div class='slider'>
                      <div class='slide1'></div>
                      <div class='slide2'></div>
                      <div class='slide3'></div>
                    </div>
                  </div>
            </div>
          </div>

          <div class="row about-extra">
            <!-- <div class="col-lg-12 wow fadeInUp">
              <img src="assets/img/about-extra-1.svg" class="img-fluid" alt="">
            </div> -->
            <div class="col-lg-12 wow fadeInUp pt-5 pt-lg-0">
              <h4>NVBA is pleased to announce the children's events for Saraswati Puja.</h4>
              
              <div class="icon-box wow fadeInUp" data-wow-delay="0.3s">
                <h5 class="title">1) চলো ছবি আঁকি (Cholo Chhobi Aanki) (Visual Arts)</h5>
                <p class="description">Participants in each group will be given 30 minutes to complete the artwork. Art paper, pencil, and crayons will be provided. No personal art supplies and stationery would be allowed. </p>

                <h5 class="title">Age Groups & Visual Arts Themes</h5>
                <p class="description">
                    5 Years - 7 Years: My Favorite Story <br>
                    8 Years - 9 Years: My Favorite Trip  <br>
                    10 Years - 12 Years: My Dream 
                </p>
              </div>
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <h5 class="title">2) বাংলা কবিতা আবৃত্তি (Bangla Kobita Abritti) (Bangla Poem Recitation)</h5>
                <p class="description">Participants will recite the poem assigned to their specific group. The poems are attached for ease of reference. Please find the links to these poems below for your reference. </p>

                <h5 class="title">Age Groups & Poems</h5>
                <p class="description">
                    5 Years - 7 Years: Sukumar Ray's <a target="_blank" href="https://drive.google.com/file/d/10mJ9TQUBMcj8_L_ebuS5A5uVuydg5k9Q/view" >Baburam Sapure </a> (From Abol Tabol) <br>
                    8 Years - 9 Years: Rabindranath Tagore's <a target="_blank" href="https://drive.google.com/file/d/10WPPIOk2j9U6KYFqGjjTrIBa59T8Fl_e/view">Taal Gaach </a> (From Shishu) <br>
                    10 Years - 12 Years: Kazi Nazrul Islam's <a target="_blank" href="https://drive.google.com/file/d/10ZZKw1IulGc9EKaYmN-3y2ce_dV6_sQw/view" > Khuki O Kathbirali </a><br>
                </p>
              </div>
              <p>
                All the participants, who pre-register for the event, will receive a participation certificate. 
              </p>
              <p>
                Please submit your entries using <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSedbaH-1jg76bxLjm5VpLryvPMwnRCSEgd9AKAWlnC19Jfrqg/viewform">this link</a> by January 19, 2020.
              </p>
              <p>Should you have any further queries please email it to <a target="_blank" href="mailto:cultural.novaba@yahoo.com"> cultural.novaba@yahoo.com</a>.</p>
            </div>
          </div>
  
  
        </div>
      </section><!-- #about -->