<!-- 
      <ul>
        <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact: true}" (click)="child.toggle()" >
          <a routerLink="">Home</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="close()" ><a routerLink="about">About Us</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="history" >Our History</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="team" >Our Team</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="law" >Our Constitution</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="imagegallery" >Image Gallery</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="magazine" >Magazine 2019</a></li>  

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()" >
          <a routerLink="contactus">Contact Us</a></li>
      </ul>
     -->
